In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None

In [204]:
df = pd.read_excel('C:\\Users\\tilleymusprime\\Desktop\\Full Madden 19 Ratings.xlsx')

In [199]:
df.columns.values

array(['Team', 'Jersey #', 'Name', 'Age', 'Position', 'Overall',
       'Awareness', 'Agility', 'Speed', 'Acceleration', 'Strength',
       'Stamina', 'Jumping', 'Injury', 'Throw Power',
       'Throw Accuracy Short', 'Throw Accuracy Mid',
       'Throw Accuracy Deep', 'Throw on the Run', 'Throw Under Pressure',
       'Playaction', 'Break Sack', 'Carrying', 'BC Vision',
       'Break Tackle', 'Elusiveness', 'Spin Move', 'Trucking',
       'Juke Move', 'Stiff Arm', 'Lead Block', 'Catch', 'Spec. Catch',
       'Catch in Traffic', 'Short Route Runing', 'Medium Route Running',
       'Deep Route Running', 'Release', 'Run Block', 'Pass Block',
       'Run Block Power', 'Pass Block Power', 'Run Block Finesse',
       'Pass Block Finesse', 'Impact Blocking', 'Power Moves',
       'Finesse Moves', 'Block Shedding', 'Tackle', 'Play Recognition',
       'Pursuit', 'Hit Power', 'Man Coverage', 'Zone Coverage', 'Press',
       'Toughness', 'Kick Return', 'Kick Power', 'Kick Accuracy',
       'Height', 'Weight', 'Birthdate', 'Years Pro', 'Handedness',
       'College', 'Total Salary', 'Signing Bonus'], dtype=object)

In [200]:
df.shape

(2368, 67)

In [5]:
for x in df:
    y = df[df['Team'] == 'x']

In [6]:
y

Empty DataFrame
Columns: [Team, Jersey #, Name, Age, Position, Overall, Awareness, Agility, Speed, Acceleration, Strength, Stamina, Jumping, Injury, Throw Power, Throw Accuracy Short, Throw Accuracy Mid, Throw Accuracy Deep, Throw on the Run, Throw Under Pressure, Playaction, Break Sack, Carrying, BC Vision, Break Tackle, Elusiveness, Spin Move, Trucking, Juke Move, Stiff Arm, Lead Block, Catch, Spec. Catch, Catch in Traffic, Short Route Runing, Medium Route Running, Deep Route Running, Release, Run Block, Pass Block, Run Block Power, Pass Block Power, Run Block Finesse, Pass Block Finesse, Impact Blocking, Power Moves, Finesse Moves, Block Shedding, Tackle, Play Recognition, Pursuit, Hit Power, Man Coverage, Zone Coverage, Press, Toughness, Kick Return, Kick Power, Kick Accuracy, Height, Weight, Birthdate, Years Pro, Handedness, College, Total Salary, Signing Bonus]
Index: []

[0 rows x 67 columns]

In [205]:
cowboys = df[df['Team'] == 'Cowboys']
niners = df[df['Team'] == '49ers']
bears = df[df['Team'] == 'Bears']
bengals = df[df['Team'] == 'Bengals']
bills = df[df['Team'] == 'Bills']
broncos = df[df['Team'] == 'Broncos']
browns = df[df['Team'] == 'Browns']
buccaneers = df[df['Team'] == 'Buccaneers']
cardinals = df[df['Team'] == 'Cardinals']
chargers = df[df['Team'] == 'Chargers']
chiefs = df[df['Team'] == 'Chiefs']
colts = df[df['Team'] == 'Colts']
dolphins = df[df['Team'] == 'Dolphins']
eagles = df[df['Team'] == 'Eagles']
falcons = df[df['Team'] == 'Falcons']
giants = df[df['Team'] == 'Giants']
jaguars = df[df['Team'] == 'Jaguars']
jets = df[df['Team'] == 'Jets']
lions = df[df['Team'] == 'Lions']
packers = df[df['Team'] == 'Packers']
panthers = df[df['Team'] == 'Panthers']
patriots = df[df['Team'] == 'Patriots']
raiders = df[df['Team'] == 'Raiders']
rams = df[df['Team'] == 'Rams']
ravens = df[df['Team'] == 'Ravens']
redskins = df[df['Team'] == 'Redskins']
saints = df[df['Team'] == 'Saints']
seahawks = df[df['Team'] == 'Seahawks']
steelers = df[df['Team'] == 'Steelers']
texans = df[df['Team'] == 'Texans']
titans = df[df['Team'] == 'Titans']
vikings = df[df['Team'] == 'Vikings']

In [206]:
def modelqb(x):
    pv=0.3681*x['Awareness']+ 0.0876*x['Play Action'] -0.1561*x['Stamina']+ 0.2824*x['Throw Accuracy Mid'] + 0.4140*x['Throw on the Run']
    return pv

In [207]:
def modelhb(x):
    pv=0.2959*x['Awareness']+ 0.2176*x['Ball Carrier Vision']+ 0.1988*x['Carrying']+ 0.1989*x['Juke Move']+ 0.0464* x['Route Running']
    return pv

In [208]:
def modelte(x):
    pv= 0.4861*x['Catching'] -0.0706*x['Jumping'] + 0.1107*x['Release'] + 0.2881*x['Route Running']+ 0.2144*x['Stiff Arm']
    return pv

In [209]:
def modelwr(x):
    pv= 0.2671*x['Awareness']+ 0.1801*x['Ball Carrier Vision']+ 0.1971*x['Catch In Traffic'] + 0.1556*x['Release']+ 0.1740*x['Route Running']
    return pv

In [210]:
def modelrt(x):
    pv=0.3561*x['Awareness']+ 0.0865*x['Impact Blocking']+ 0.2429*x['Pass Block']+ 0.2875*x['Run Block']
    return pv

In [211]:
def modelrg(x):
    pv = 0.3832*x['Awareness']+ 0.1057*x['Impact Blocking']+ 0.3457*x['Pass Block']+ 0.2180*x['Run Block'] - 0.0776*x['Strength']
    return pv

In [212]:
def modelc(x):
    pv = (0.395*x['Awareness'])+(0.3362*x['Pass Block'])+(0.2182*x['Run Block'])
    return pv

In [213]:
def modellg(x):
    pv=0.3240*x['Awareness']+ 0.1756*x['Impact Blocking']+ 0.4625*x['Pass Block']
    return pv

In [214]:
def modellt(x):
    pv = 0.3305*x['Awareness']+ 0.1838*x['Impact Blocking'] + 0.4364*x['Pass Block']
    return pv

In [215]:
def modelre(x):
    predicted_value = (0.4737 * x['Awareness']) + (0.4280 * x['Pursuit']) + (0.1094 * x['Tackle'])-(0.0716 * x['Pass Block'])
    return predicted_value

In [216]:
def modeldt(x):
    pv= 0.4257*x['Awareness']+ 0.2553*x['Pursuit']+ 0.2858*x['Tackle']
    return pv

In [217]:
def modelle(x):
    pv=0.4811*x['Play Recognition'] + 0.4957*x['Pursuit']
    return pv

In [218]:
def modelmlb(x):
    pv=0.2514*x['Block Shedding']+ 0.1328*x['Man Coverage'] + 0.5093*x['Play Recognition'] + 0.0733*x['Pursuit'] - 0.1607*x['Stamina']+ 0.1949*x['Tackle']
    return pv

In [219]:
def modelrolb(x):
    predicted_values = (0.4707 * x['Awareness']) + (0.2411 * x['Tackle']) + 0.2547*x['Pursuit']
    return predicted_values

In [220]:
def modellolb(x):
    pv = 0.4769*x['Awareness'] + 0.1128*x['Block Shedding']+ 0.2223* x['Pursuit']+ 0.1527*x['Tackle']
    return pv

In [221]:
def modelfs(x):
    pv = 0.3850*x['Awareness']+ 0.1465*x['Stamina'] + 0.4447*x['Zone Coverage']
    return pv

In [222]:
def modelcb(x):
    pv = (0.3870*x['Awareness'])+(0.1122*x['Impact Blocking'])+(0.3388*x['Man Coverage'])+(0.2595*x['Zone Coverage'])-0.0556*x['Stamina']
    return pv

In [223]:
def modelss(x):
    pv = (0.4607*x['Awareness'])+(0.1388*x['Pursuit'])+(0.2140*x['Tackle'])+(0.2163*x['Zone Coverage'])
    return pv

In [224]:
#Here are the new models for position groups

In [225]:
def dline(x, y, z):
    y = np.mean(x) + np.mean(y) + np.mean(z)
    return y

In [226]:
def modeldt(x):
    pv= 0.4257*x['Awareness']+ 0.2553*x['Pursuit']+ 0.2858*x['Tackle']
    return pv

In [227]:
####NFC East Defenses

In [228]:
cowboysdt = cowboys[cowboys['Position'] == 'DT']
cowboysre = cowboys[cowboys['Position'] == 'RE']
cowboysle = cowboys[cowboys['Position'] == 'LE']
cowboysdt['Predicted Rating'] = modeldt(cowboysdt)
cowboysre['Predicted Rating'] = modelre(cowboysre)
cowboysle['Predicted Rating'] = modelle(cowboysle)
cowboysdt_mean = np.mean(cowboysdt['Predicted Rating'])
cowboysre_mean = np.mean(cowboysre['Predicted Rating'])
cowboysle_mean = np.mean(cowboysle['Predicted Rating'])
cowboysdl_mean = np.mean([cowboysdt_mean, cowboysre_mean, cowboysle_mean])
cowboysdl_mean

73.21787037037036

In [229]:
cowboysmlb = cowboys[cowboys['Position'] == 'MLB']
cowboysrolb = cowboys[cowboys['Position'] == 'ROLB']
cowboyslolb = cowboys[cowboys['Position'] == 'LOLB']
cowboysmlb['Predicted Rating'] = modelmlb(cowboysmlb)
cowboysrolb['Predicted Rating'] = modelrolb(cowboysrolb)
cowboyslolb['Predicted Rating'] = modellolb(cowboyslolb)
cowboysmlb_mean = np.mean(cowboysmlb['Predicted Rating'])
cowboysrolb_mean = np.mean(cowboysrolb['Predicted Rating'])
cowboyslolb_mean = np.mean(cowboyslolb['Predicted Rating'])
cowboyslb_mean = np.mean([cowboysmlb_mean, cowboysrolb_mean, cowboyslolb_mean])
cowboysmlb_diff = cowboys
print(cowboyslb_mean, cowboysmlb_mean, cowboyslolb_mean, cowboysrolb_mean)

70.26298333333334 71.28399999999999 67.001925 72.50302500000001

In [230]:
cowboyscb = cowboys[cowboys['Position'] == 'CB']
cowboysfs = cowboys[cowboys['Position'] == 'FS']
cowboysss = cowboys[cowboys['Position'] == 'SS']
cowboyscb['Predicted Rating'] = modelcb(cowboyscb)
cowboysss['Predicted Rating'] = modelss(cowboysss)
cowboysfs['Predicted Rating'] = modelfs(cowboysfs)
cowboysss_mean = np.mean(cowboysss['Predicted Rating'])
cowboyscb_mean = np.mean(cowboyscb['Predicted Rating'])
cowboysfs_mean = np.mean(cowboysfs['Predicted Rating'])
cowboyssecondary_mean = np.mean([cowboyscb_mean, cowboysss_mean, cowboysfs_mean])
print(cowboyssecondary_mean, cowboyscb_mean, cowboysfs_mean, cowboysss_mean)

72.21830333333334 74.25135999999999 68.1369 74.26665

In [231]:
cowboys_defense_mean = np.mean([cowboyslb_mean, cowboysdl_mean, cowboyssecondary_mean])
cowboys_defense_mean

71.89971901234567

In [232]:
cowboys['lb_mean'] = cowboyslb_mean
cowboys['dl_mean'] = cowboysdl_mean
cowboys['secondary_mean'] = cowboyssecondary_mean
cowboys['defense_rating'] = cowboys_defense_mean

In [233]:
eaglesdt = eagles[eagles['Position'] == 'DT']
eaglesre = eagles[eagles['Position'] == 'RE']
eaglesle = eagles[eagles['Position'] == 'LE']
eaglesdt['Predicted Rating'] = modeldt(eaglesdt)
eaglesre['Predicted Rating'] = modelre(eaglesre)
eaglesle['Predicted Rating'] = modelle(eaglesle)
eaglesdt_mean = np.mean(eaglesdt['Predicted Rating'])
eaglesre_mean = np.mean(eaglesre['Predicted Rating'])
eaglesle_mean = np.mean(eaglesle['Predicted Rating'])
eaglesdl_mean = np.mean([eaglesdt_mean, eaglesre_mean, eaglesle_mean])
eaglesdl_mean

73.99409603174604

In [234]:
eaglesmlb = eagles[eagles['Position'] == 'MLB']
eaglesrolb = eagles[eagles['Position'] == 'ROLB']
eagleslolb = eagles[eagles['Position'] == 'LOLB']
eaglesmlb['Predicted Rating'] = modelmlb(eaglesmlb)
eaglesrolb['Predicted Rating'] = modelrolb(eaglesrolb)
eagleslolb['Predicted Rating'] = modellolb(eagleslolb)
eaglesmlb_mean = np.mean(eaglesmlb['Predicted Rating'])
eaglesrolb_mean = np.mean(eaglesrolb['Predicted Rating'])
eagleslolb_mean = np.mean(eagleslolb['Predicted Rating'])
eagleslb_mean = np.mean([eaglesmlb_mean, eaglesrolb_mean, eagleslolb_mean])
print(eagleslb_mean, eaglesmlb_mean, eagleslolb_mean, eaglesrolb_mean)

70.66432777777777 69.47196666666667 72.31746666666665 70.20355

In [235]:
eaglescb = eagles[eagles['Position'] == 'CB']
eaglesfs = eagles[eagles['Position'] == 'FS']
eaglesss = eagles[eagles['Position'] == 'SS']
eaglescb['Predicted Rating'] = modelcb(eaglescb)
eaglesss['Predicted Rating'] = modelss(eaglesss)
eaglesfs['Predicted Rating'] = modelfs(eaglesfs)
eaglesss_mean = np.mean(eaglesss['Predicted Rating'])
eaglescb_mean = np.mean(eaglescb['Predicted Rating'])
eaglesfs_mean = np.mean(eaglesfs['Predicted Rating'])
eaglessecondary_mean = np.mean([eaglescb_mean, eaglesss_mean, eaglesfs_mean])
print(eaglessecondary_mean, eaglescb_mean, eaglesfs_mean, eaglesss_mean)

77.1852630952381 72.3723142857143 68.195975 90.9875

In [236]:
eagles_defense_mean = np.mean([eagleslb_mean, eaglesdl_mean, eaglessecondary_mean])
eagles_defense_mean

73.94789563492064

In [237]:
eagles['lb_mean'] = eagleslb_mean
eagles['dl_mean'] = eaglesdl_mean
eagles['secondary_mean'] = eaglessecondary_mean
eagles['defense_rating'] = eagles_defense_mean

In [238]:
giantsdt = giants[giants['Position'] == 'DT']
giantsre = giants[giants['Position'] == 'RE']
giantsle = giants[giants['Position'] == 'LE']
giantsdt['Predicted Rating'] = modeldt(giantsdt)
giantsre['Predicted Rating'] = modelre(giantsre)
giantsle['Predicted Rating'] = modelle(giantsle)
giantsdt_mean = np.mean(giantsdt['Predicted Rating'])
giantsre_mean = np.mean(giantsre['Predicted Rating'])
giantsle_mean = np.mean(giantsle['Predicted Rating'])
giantsdl_mean = np.mean([giantsdt_mean, giantsre_mean, giantsle_mean])
giantsdl_mean

71.58567777777779

In [239]:
giantsmlb = giants[giants['Position'] == 'MLB']
giantsrolb = giants[giants['Position'] == 'ROLB']
giantslolb = giants[giants['Position'] == 'LOLB']
giantsmlb['Predicted Rating'] = modelmlb(giantsmlb)
giantsrolb['Predicted Rating'] = modelrolb(giantsrolb)
giantslolb['Predicted Rating'] = modellolb(giantslolb)
giantsmlb_mean = np.mean(giantsmlb['Predicted Rating'])
giantsrolb_mean = np.mean(giantsrolb['Predicted Rating'])
giantslolb_mean = np.mean(giantslolb['Predicted Rating'])
giantslb_mean = np.mean([giantsmlb_mean, giantsrolb_mean, giantslolb_mean])
print(giantslb_mean, giantsmlb_mean, giantslolb_mean, giantsrolb_mean)

68.31878333333333 67.51686666666666 65.82315 71.61633333333333

In [240]:
giantscb = giants[giants['Position'] == 'CB']
giantsfs = giants[giants['Position'] == 'FS']
giantsss = giants[giants['Position'] == 'SS']
giantscb['Predicted Rating'] = modelcb(giantscb)
giantsss['Predicted Rating'] = modelss(giantsss)
giantsfs['Predicted Rating'] = modelfs(giantsfs)
giantsss_mean = np.mean(giantsss['Predicted Rating'])
giantscb_mean = np.mean(giantscb['Predicted Rating'])
giantsfs_mean = np.mean(giantsfs['Predicted Rating'])
giantssecondary_mean = np.mean([giantscb_mean, giantsss_mean, giantsfs_mean])
print(giantssecondary_mean, giantscb_mean, giantsfs_mean, giantsss_mean)

70.63006944444443 69.916225 66.88905 75.08493333333332

In [241]:
giants_defense_mean = np.mean([giantslb_mean, giantsdl_mean, giantssecondary_mean])
giants_defense_mean

70.17817685185184

In [242]:
giants['lb_mean'] = giantslb_mean
giants['dl_mean'] = giantsdl_mean
giants['secondary_mean'] = giantssecondary_mean
giants['defense_rating'] = giants_defense_mean

In [243]:
redskinsdt = redskins[redskins['Position'] == 'DT']
redskinsre = redskins[redskins['Position'] == 'RE']
redskinsle = redskins[redskins['Position'] == 'LE']
redskinsdt['Predicted Rating'] = modeldt(redskinsdt)
redskinsre['Predicted Rating'] = modelre(redskinsre)
redskinsle['Predicted Rating'] = modelle(redskinsle)
redskinsdt_mean = np.mean(redskinsdt['Predicted Rating'])
redskinsre_mean = np.mean(redskinsre['Predicted Rating'])
redskinsle_mean = np.mean(redskinsle['Predicted Rating'])
redskinsdl_mean = np.mean([redskinsdt_mean, redskinsre_mean, redskinsle_mean])
redskinsdl_mean

69.8834388888889

In [244]:
redskinsmlb = redskins[redskins['Position'] == 'MLB']
redskinsrolb = redskins[redskins['Position'] == 'ROLB']
redskinslolb = redskins[redskins['Position'] == 'LOLB']
redskinsmlb['Predicted Rating'] = modelmlb(redskinsmlb)
redskinsrolb['Predicted Rating'] = modelrolb(redskinsrolb)
redskinslolb['Predicted Rating'] = modellolb(redskinslolb)
redskinsmlb_mean = np.mean(redskinsmlb['Predicted Rating'])
redskinsrolb_mean = np.mean(redskinsrolb['Predicted Rating'])
redskinslolb_mean = np.mean(redskinslolb['Predicted Rating'])
redskinslb_mean = np.mean([redskinsmlb_mean, redskinsrolb_mean, redskinslolb_mean])
print(redskinslb_mean, redskinsmlb_mean, redskinslolb_mean, redskinsrolb_mean)

72.92887777777777 71.53301666666665 74.31766666666667 72.93595

In [245]:
redskinscb = redskins[redskins['Position'] == 'CB']
redskinsfs = redskins[redskins['Position'] == 'FS']
redskinsss = redskins[redskins['Position'] == 'SS']
redskinscb['Predicted Rating'] = modelcb(redskinscb)
redskinsss['Predicted Rating'] = modelss(redskinsss)
redskinsfs['Predicted Rating'] = modelfs(redskinsfs)
redskinsss_mean = np.mean(redskinsss['Predicted Rating'])
redskinscb_mean = np.mean(redskinscb['Predicted Rating'])
redskinsfs_mean = np.mean(redskinsfs['Predicted Rating'])
redskinssecondary_mean = np.mean([redskinscb_mean, redskinsss_mean, redskinsfs_mean])
print(redskinssecondary_mean, redskinscb_mean, redskinsfs_mean, redskinsss_mean)

70.156925 72.1284 68.65390000000001 69.688475

In [246]:
redskins_defense_mean = np.mean([redskinslb_mean, redskinsdl_mean, redskinssecondary_mean])
redskins_defense_mean

70.98974722222222

In [247]:
redskins['lb_mean'] = redskinslb_mean
redskins['dl_mean'] = redskinsdl_mean
redskins['secondary_mean'] = redskinssecondary_mean
redskins['defense_rating'] = redskins_defense_mean

In [50]:
cowboys_defense_mean, eagles_defense_mean, giants_defense_mean, redskins_defense_mean

(71.89971901234567, 73.94789563492064, 70.17817685185184, 70.98974722222222)

In [203]:
nfc_east = pd.concat([cowboys, eagles, giants, redskins], axis=0)
nfc_east.tail(20)

,Team,Jersey #,Name,Age,Position,Overall,Awareness,Agility,Speed,Acceleration,...,Birthdate,Years Pro,Handedness,College,Total Salary,Signing Bonus,lb_mean,dl_mean,secondary_mean,defense_rating
1841,Redskins,22,Deshazor Everett,26,SS,66,68,85,87,89,...,1992-02-22 00:00:00,3,Right,Texas AM,2100000,470000,72.928878,69.883439,70.156925,70.989747
1842,Redskins,51,Shaun Dion Hamilton,22,MLB,66,60,80,81,82,...,1995-09-11 00:00:00,0,Right,Alabama,2568013,150000,72.928878,69.883439,70.156925,70.989747
1843,Redskins,20,Danny Johnson,22,CB,66,52,82,91,91,...,1995-11-17 00:00:00,0,Right,Southern,1710000,0,72.928878,69.883439,70.156925,70.989747
1847,Redskins,97,Tim Settle,21,DT,66,51,57,64,78,...,1997-07-11 00:00:00,0,Right,Virginia Tech,2602171,180000,72.928878,69.883439,70.156925,70.989747
1937,Redskins,13,Maurice Harris,25,WR,65,63,87,87,89,...,1992-11-11 00:00:00,2,Right,California,630000,0,72.928878,69.883439,70.156925,70.989747
1938,Redskins,34,Byron Marshall,24,HB,65,55,87,88,88,...,1994-04-01 00:00:00,2,Right,Oregon,630000,0,72.928878,69.883439,70.156925,70.989747
1939,Redskins,12,Colt McCoy,31,QB,65,71,81,76,85,...,1986-09-05 00:00:00,8,Right,Texas,3200000,1800000,72.928878,69.883439,70.156925,70.989747
2038,Redskins,40,Josh Harvey-Clemons,24,MLB,64,63,85,81,86,...,1994-02-20 00:00:00,1,Right,Louisville,2439000,80000,72.928878,69.883439,70.156925,70.989747
2039,Redskins,15,Simmie Cobbs Jr,23,WR,64,52,92,85,89,...,1995-08-25 00:00:00,0,Right,Indiana,1710000,0,72.928878,69.883439,70.156925,70.989747
2042,Redskins,67,Kyle Kalis,24,LG,64,59,59,55,74,...,1993-12-21 00:00:00,1,Right,Michigan,1020000,0,72.928878,69.883439,70.156925,70.989747
2109,Redskins,60,Alex Balducci,24,RG,63,49,52,72,84,...,1994-03-01 00:00:00,2,Right,Oregon,630000,0,72.928878,69.883439,70.156925,70.989747
2110,Redskins,19,Robert Davis,23,WR,63,51,85,91,90,...,1995-04-02 00:00:00,1,Right,Georgia State,1665000,0,72.928878,69.883439,70.156925,70.989747
2112,Redskins,39,Kenny Ladler,26,SS,63,53,80,83,91,...,1992-06-23 00:00:00,3,Right,Vanderbilt,1200000,0,72.928878,69.883439,70.156925,70.989747
2181,Redskins,37,Fish Smithson,24,FS,62,55,84,87,89,...,1994-03-18 00:00:00,1,Right,Kansas,1020000,0,72.928878,69.883439,70.156925,70.989747
2182,Redskins,60,Isaiah Williams,25,LG,62,56,59,65,78,...,1993-05-05 00:00:00,3,Right,Akron,1200000,0,72.928878,69.883439,70.156925,70.989747
2229,Redskins,41,Quin Blanding,22,SS,61,52,85,85,91,...,1996-05-01 00:00:00,0,Right,Virginia,1710000,0,72.928878,69.883439,70.156925,70.989747
2230,Redskins,68,Tyler Catalina,25,RG,61,60,64,61,78,...,1993-01-24 00:00:00,1,Right,Georgia,1665000,0,72.928878,69.883439,70.156925,70.989747
2233,Redskins,45,Pete Robertson,25,LOLB,61,53,73,72,83,...,1992-12-02 00:00:00,2,Right,Texas Tech,1665000,0,72.928878,69.883439,70.156925,70.989747
2276,Redskins,74,Demetrius Rhaney,26,C,60,50,71,75,82,...,1992-06-22 00:00:00,4,Right,Tennessee St.,705000,0,72.928878,69.883439,70.156925,70.989747
2340,Redskins,57,Nick Sundberg,31,C,54,65,69,68,70,...,1987-07-29 00:00:00,8,Right,California,3900000,100000,72.928878,69.883439,70.156925,70.989747

In [52]:
####NFC West Defenses

In [53]:
ninersdt = niners[niners['Position'] == 'DT']
ninersre = niners[niners['Position'] == 'RE']
ninersle = niners[niners['Position'] == 'LE']
ninersdt['Predicted Rating'] = modeldt(ninersdt)
ninersre['Predicted Rating'] = modelre(ninersre)
ninersle['Predicted Rating'] = modelle(ninersle)
ninersdt_mean = np.mean(ninersdt['Predicted Rating'])
ninersre_mean = np.mean(ninersre['Predicted Rating'])
ninersle_mean = np.mean(ninersle['Predicted Rating'])
ninersdl_mean = np.mean([ninersdt_mean, ninersre_mean, ninersle_mean])
ninersdl_mean

71.54680333333333

In [54]:
ninersmlb = niners[niners['Position'] == 'MLB']
ninersrolb = niners[niners['Position'] == 'ROLB']
ninerslolb = niners[niners['Position'] == 'LOLB']
ninersmlb['Predicted Rating'] = modelmlb(ninersmlb)
ninersrolb['Predicted Rating'] = modelrolb(ninersrolb)
ninerslolb['Predicted Rating'] = modellolb(ninerslolb)
ninersmlb_mean = np.mean(ninersmlb['Predicted Rating'])
ninersrolb_mean = np.mean(ninersrolb['Predicted Rating'])
ninerslolb_mean = np.mean(ninerslolb['Predicted Rating'])
ninerslb_mean = np.mean([ninersmlb_mean, ninersrolb_mean, ninerslolb_mean])
print(ninerslb_mean, ninersmlb_mean, ninerslolb_mean, ninersrolb_mean)

70.27834166666668 73.2728 66.4671 71.095125

In [55]:
ninerscb = niners[niners['Position'] == 'CB']
ninersfs = niners[niners['Position'] == 'FS']
ninersss = niners[niners['Position'] == 'SS']
ninerscb['Predicted Rating'] = modelcb(ninerscb)
ninersss['Predicted Rating'] = modelss(ninersss)
ninersfs['Predicted Rating'] = modelfs(ninersfs)
ninersss_mean = np.mean(ninersss['Predicted Rating'])
ninerscb_mean = np.mean(ninerscb['Predicted Rating'])
ninersfs_mean = np.mean(ninersfs['Predicted Rating'])
ninerssecondary_mean = np.mean([ninerscb_mean, ninersss_mean, ninersfs_mean])
print(ninerssecondary_mean, ninerscb_mean, ninersfs_mean, ninersss_mean)

70.24074583333332 70.2867625 71.40769999999999 69.02777499999999

In [56]:
niners_defense_mean = np.mean([ninerslb_mean, ninersdl_mean, ninerssecondary_mean])
niners_defense_mean

70.68863027777779

In [57]:
niners['lb_mean'] = ninerslb_mean
niners['dl_mean'] = ninersdl_mean
niners['secondary_mean'] = ninerssecondary_mean
niners['defense_rating'] = niners_defense_mean

In [58]:
cardinalsdt = cardinals[cardinals['Position'] == 'DT']
cardinalsre = cardinals[cardinals['Position'] == 'RE']
cardinalsle = cardinals[cardinals['Position'] == 'LE']
cardinalsdt['Predicted Rating'] = modeldt(cardinalsdt)
cardinalsre['Predicted Rating'] = modelre(cardinalsre)
cardinalsle['Predicted Rating'] = modelle(cardinalsle)
cardinalsdt_mean = np.mean(cardinalsdt['Predicted Rating'])
cardinalsre_mean = np.mean(cardinalsre['Predicted Rating'])
cardinalsle_mean = np.mean(cardinalsle['Predicted Rating'])
cardinalsdl_mean = np.mean([cardinalsdt_mean, cardinalsre_mean, cardinalsle_mean])
cardinalsdl_mean

70.782495

In [59]:
cardinalsmlb = cardinals[cardinals['Position'] == 'MLB']
cardinalsrolb = cardinals[cardinals['Position'] == 'ROLB']
cardinalslolb = cardinals[cardinals['Position'] == 'LOLB']
cardinalsmlb['Predicted Rating'] = modelmlb(cardinalsmlb)
cardinalsrolb['Predicted Rating'] = modelrolb(cardinalsrolb)
cardinalslolb['Predicted Rating'] = modellolb(cardinalslolb)
cardinalsmlb_mean = np.mean(cardinalsmlb['Predicted Rating'])
cardinalsrolb_mean = np.mean(cardinalsrolb['Predicted Rating'])
cardinalslolb_mean = np.mean(cardinalslolb['Predicted Rating'])
cardinalslb_mean = np.mean([cardinalsmlb_mean, cardinalsrolb_mean, cardinalslolb_mean])
print(cardinalslb_mean, cardinalsmlb_mean, cardinalslolb_mean, cardinalsrolb_mean)

68.13138333333335 73.7116 64.6868 65.99575

In [60]:
cardinalscb = cardinals[cardinals['Position'] == 'CB']
cardinalsfs = cardinals[cardinals['Position'] == 'FS']
cardinalsss = cardinals[cardinals['Position'] == 'SS']
cardinalscb['Predicted Rating'] = modelcb(cardinalscb)
cardinalsss['Predicted Rating'] = modelss(cardinalsss)
cardinalsfs['Predicted Rating'] = modelfs(cardinalsfs)
cardinalsss_mean = np.mean(cardinalsss['Predicted Rating'])
cardinalscb_mean = np.mean(cardinalscb['Predicted Rating'])
cardinalsfs_mean = np.mean(cardinalsfs['Predicted Rating'])
cardinalssecondary_mean = np.mean([cardinalscb_mean, cardinalsss_mean, cardinalsfs_mean])
print(cardinalssecondary_mean, cardinalscb_mean, cardinalsfs_mean, cardinalsss_mean)

69.59532638888888 68.76126249999999 73.21914999999998 66.80556666666666

In [61]:
cardinals_defense_mean = np.mean([cardinalslb_mean, cardinalsdl_mean, cardinalssecondary_mean])
cardinals_defense_mean

69.50306824074075

In [62]:
cardinals['lb_mean'] = cardinalslb_mean
cardinals['dl_mean'] = cardinalsdl_mean
cardinals['secondary_mean'] = cardinalssecondary_mean
cardinals['defense_rating'] = cardinals_defense_mean

In [63]:
ramsdt = rams[rams['Position'] == 'DT']
ramsre = rams[rams['Position'] == 'RE']
ramsle = rams[rams['Position'] == 'LE']
ramsdt['Predicted Rating'] = modeldt(ramsdt)
ramsre['Predicted Rating'] = modelre(ramsre)
ramsle['Predicted Rating'] = modelle(ramsle)
ramsdt_mean = np.mean(ramsdt['Predicted Rating'])
ramsre_mean = np.mean(ramsre['Predicted Rating'])
ramsle_mean = np.mean(ramsle['Predicted Rating'])
ramsdl_mean = np.mean([ramsdt_mean, ramsre_mean, ramsle_mean])
ramsdl_mean

74.58724722222222

In [64]:
ramsmlb = rams[rams['Position'] == 'MLB']
ramsrolb = rams[rams['Position'] == 'ROLB']
ramslolb = rams[rams['Position'] == 'LOLB']
ramsmlb['Predicted Rating'] = modelmlb(ramsmlb)
ramsrolb['Predicted Rating'] = modelrolb(ramsrolb)
ramslolb['Predicted Rating'] = modellolb(ramslolb)
ramsmlb_mean = np.mean(ramsmlb['Predicted Rating'])
ramsrolb_mean = np.mean(ramsrolb['Predicted Rating'])
ramslolb_mean = np.mean(ramslolb['Predicted Rating'])
ramslb_mean = np.mean([ramsmlb_mean, ramsrolb_mean, ramslolb_mean])
print(ramslb_mean, ramsmlb_mean, ramslolb_mean, ramsrolb_mean)

67.01012023809524 67.32198571428572 67.7946 65.913775

In [65]:
ramscb = rams[rams['Position'] == 'CB']
ramsfs = rams[rams['Position'] == 'FS']
ramsss = rams[rams['Position'] == 'SS']
ramscb['Predicted Rating'] = modelcb(ramscb)
ramsss['Predicted Rating'] = modelss(ramsss)
ramsfs['Predicted Rating'] = modelfs(ramsfs)
ramsss_mean = np.mean(ramsss['Predicted Rating'])
ramscb_mean = np.mean(ramscb['Predicted Rating'])
ramsfs_mean = np.mean(ramsfs['Predicted Rating'])
ramssecondary_mean = np.mean([ramscb_mean, ramsss_mean, ramsfs_mean])
print(ramssecondary_mean, ramscb_mean, ramsfs_mean, ramsss_mean)

73.90496250000001 75.11763750000001 71.33640000000001 75.26085

In [66]:
rams_defense_mean = np.mean([ramslb_mean, ramsdl_mean, ramssecondary_mean])
rams_defense_mean

71.83410998677249

In [67]:
rams['lb_mean'] = ramslb_mean
rams['dl_mean'] = ramsdl_mean
rams['secondary_mean'] = ramssecondary_mean
rams['defense_rating'] = rams_defense_mean

In [68]:
seahawksdt = seahawks[seahawks['Position'] == 'DT']
seahawksre = seahawks[seahawks['Position'] == 'RE']
seahawksle = seahawks[seahawks['Position'] == 'LE']
seahawksdt['Predicted Rating'] = modeldt(seahawksdt)
seahawksre['Predicted Rating'] = modelre(seahawksre)
seahawksle['Predicted Rating'] = modelle(seahawksle)
seahawksdt_mean = np.mean(seahawksdt['Predicted Rating'])
seahawksre_mean = np.mean(seahawksre['Predicted Rating'])
seahawksle_mean = np.mean(seahawksle['Predicted Rating'])
seahawksdl_mean = np.mean([seahawksdt_mean, seahawksre_mean, seahawksle_mean])
seahawksdl_mean

71.85600000000001

In [69]:
seahawksmlb = seahawks[seahawks['Position'] == 'MLB']
seahawksrolb = seahawks[seahawks['Position'] == 'ROLB']
seahawkslolb = seahawks[seahawks['Position'] == 'LOLB']
seahawksmlb['Predicted Rating'] = modelmlb(seahawksmlb)
seahawksrolb['Predicted Rating'] = modelrolb(seahawksrolb)
seahawkslolb['Predicted Rating'] = modellolb(seahawkslolb)
seahawksmlb_mean = np.mean(seahawksmlb['Predicted Rating'])
seahawksrolb_mean = np.mean(seahawksrolb['Predicted Rating'])
seahawkslolb_mean = np.mean(seahawkslolb['Predicted Rating'])
seahawkslb_mean = np.mean([seahawksmlb_mean, seahawksrolb_mean, seahawkslolb_mean])
print(seahawkslb_mean, seahawksmlb_mean, seahawkslolb_mean, seahawksrolb_mean)

77.0513111111111 92.55139999999999 68.45286666666665 70.14966666666668

In [70]:
seahawkscb = seahawks[seahawks['Position'] == 'CB']
seahawksfs = seahawks[seahawks['Position'] == 'FS']
seahawksss = seahawks[seahawks['Position'] == 'SS']
seahawkscb['Predicted Rating'] = modelcb(seahawkscb)
seahawksss['Predicted Rating'] = modelss(seahawksss)
seahawksfs['Predicted Rating'] = modelfs(seahawksfs)
seahawksss_mean = np.mean(seahawksss['Predicted Rating'])
seahawkscb_mean = np.mean(seahawkscb['Predicted Rating'])
seahawksfs_mean = np.mean(seahawksfs['Predicted Rating'])
seahawkssecondary_mean = np.mean([seahawkscb_mean, seahawksss_mean, seahawksfs_mean])
print(seahawkssecondary_mean, seahawkscb_mean, seahawksfs_mean, seahawksss_mean)

73.47217063492063 70.97572857142856 76.61663333333334 72.82414999999999

In [71]:
seahawks_defense_mean = np.mean([seahawkslb_mean, seahawksdl_mean, seahawkssecondary_mean])
seahawks_defense_mean

74.12649391534391

In [72]:
seahawks['lb_mean'] = seahawkslb_mean
seahawks['dl_mean'] = seahawksdl_mean
seahawks['secondary_mean'] = seahawkssecondary_mean
seahawks['defense_rating'] = seahawks_defense_mean

In [249]:
nfc_west = pd.concat([niners, seahawks, rams, cardinals], axis=0)

,Team,Jersey #,Name,Age,Position,Overall,Awareness,Agility,Speed,Acceleration,...,Kick Power,Kick Accuracy,Height,Weight,Birthdate,Years Pro,Handedness,College,Total Salary,Signing Bonus
2071,Cardinals,32,Lou Young,26,CB,64,52,86,90,92,...,15,14,73,205,1991-10-09 00:00:00,3,Right,Georgia Tech,630000,0
2131,Cardinals,48,Derrick Coleman,27,FB,63,69,77,87,86,...,25,24,72,233,1990-10-18 00:00:00,5,Right,UCLA,790000,0
2133,Cardinals,94,Alec James,23,LE,63,50,73,77,83,...,13,11,75,272,1994-09-30 00:00:00,0,Right,Wisconsin,1710000,0
2137,Cardinals,49,Matthew Oplinger,22,LOLB,63,47,73,80,87,...,14,12,74,250,1996-02-23 00:00:00,0,Right,Yale,1710000,0
2138,Cardinals,35,Elijhaa Penny,25,HB,63,66,85,81,85,...,17,15,74,234,1993-08-17 00:00:00,2,Right,Idaho,555000,0
2140,Cardinals,68,Greg Pyke,25,LG,63,52,57,63,81,...,14,13,78,325,1993-06-04 00:00:00,1,Right,Georgia,480000,0
2141,Cardinals,81,Beau Sandland,25,TE,63,46,81,81,86,...,21,19,77,252,1993-02-23 00:00:00,2,Right,Montana State,480000,0
2196,Cardinals,92,Dennis Gardeck,24,ROLB,62,46,72,85,87,...,14,17,72,242,1994-08-09 00:00:00,0,Right,Sioux Falls,1710000,0
2200,Cardinals,34,Tavierre Thomas,22,CB,62,46,80,93,91,...,18,14,72,202,1996-03-11 00:00:00,0,Right,Ferris State,1710000,0
2250,Cardinals,61,Moubarak Djeri,22,LE,61,45,69,72,85,...,14,12,75,275,1995-12-30 00:00:00,0,Right,NaN,1710000,0
2252,Cardinals,60,Will House,23,RG,61,43,55,67,77,...,15,12,75,314,1995-05-14 00:00:00,0,Right,Southern Nazarene,1710000,0
2255,Cardinals,47,Ezekiel Turner,22,SS,61,53,84,84,90,...,16,14,74,214,1996-06-09 00:00:00,0,Right,Washington,1710000,0
2256,Cardinals,89,Andrew Vollert,23,TE,61,45,82,85,87,...,17,13,77,245,1995-03-15 00:00:00,0,Right,Weber State,1710000,0
2289,Cardinals,66,Josh Allen,26,C,60,47,67,66,77,...,24,21,75,315,1991-10-30 00:00:00,4,Right,UL Monroe,1350000,0
2290,Cardinals,59,Vontarrius Dora,25,LOLB,60,55,74,72,83,...,30,30,76,256,1992-09-07 00:00:00,2,Right,LA. Tech,1050000,0
2291,Cardinals,38,A.J. Howard,22,SS,60,48,80,89,90,...,19,15,71,203,1995-12-23 00:00:00,0,Right,Appalach. St.,1710000,0
2292,Cardinals,62,Daniel Munyer,26,C,60,49,69,64,81,...,12,11,73,305,1992-03-04 00:00:00,3,Right,Colorado,480000,0
2293,Cardinals,97,Owen Obasuyi,22,DT,60,50,56,67,81,...,17,13,76,308,1996-05-07 00:00:00,0,Right,Hampton,1710000,0
2325,Cardinals,19,Carlton Agudosi,24,WR,58,50,86,85,89,...,19,15,78,220,1994-02-01 00:00:00,1,Right,Rutgers,1050000,0
2353,Cardinals,46,Aaron Brewer,28,TE,44,67,65,71,84,...,13,13,77,232,1990-07-05 00:00:00,6,Right,San Diego St.,3850000,270000

In [73]:
#NFC NORTH Defense

In [74]:
bearsdt = bears[bears['Position'] == 'DT']
bearsre = bears[bears['Position'] == 'RE']
bearsle = bears[bears['Position'] == 'LE']
bearsdt['Predicted Rating'] = modeldt(bearsdt)
bearsre['Predicted Rating'] = modelre(bearsre)
bearsle['Predicted Rating'] = modelle(bearsle)
bearsdt_mean = np.mean(bearsdt['Predicted Rating'])
bearsre_mean = np.mean(bearsre['Predicted Rating'])
bearsle_mean = np.mean(bearsle['Predicted Rating'])
bearsdl_mean = np.mean([bearsdt_mean, bearsre_mean, bearsle_mean])
bearsdl_mean

71.52403055555556

In [75]:
bearsmlb = bears[bears['Position'] == 'MLB']
bearsrolb = bears[bears['Position'] == 'ROLB']
bearslolb = bears[bears['Position'] == 'LOLB']
bearsmlb['Predicted Rating'] = modelmlb(bearsmlb)
bearsrolb['Predicted Rating'] = modelrolb(bearsrolb)
bearslolb['Predicted Rating'] = modellolb(bearslolb)
bearsmlb_mean = np.mean(bearsmlb['Predicted Rating'])
bearsrolb_mean = np.mean(bearsrolb['Predicted Rating'])
bearslolb_mean = np.mean(bearslolb['Predicted Rating'])
bearslb_mean = np.mean([bearsmlb_mean, bearsrolb_mean, bearslolb_mean])
print(bearslb_mean, bearsmlb_mean, bearslolb_mean, bearsrolb_mean)

70.83030000000001 71.57316666666667 68.92920000000001 71.98853333333334

In [76]:
bearscb = bears[bears['Position'] == 'CB']
bearsfs = bears[bears['Position'] == 'FS']
bearsss = bears[bears['Position'] == 'SS']
bearscb['Predicted Rating'] = modelcb(bearscb)
bearsss['Predicted Rating'] = modelss(bearsss)
bearsfs['Predicted Rating'] = modelfs(bearsfs)
bearsss_mean = np.mean(bearsss['Predicted Rating'])
bearscb_mean = np.mean(bearscb['Predicted Rating'])
bearsfs_mean = np.mean(bearsfs['Predicted Rating'])
bearssecondary_mean = np.mean([bearscb_mean, bearsss_mean, bearsfs_mean])
print(bearssecondary_mean, bearscb_mean, bearsfs_mean, bearsss_mean)

71.58992962962962 70.69635555555554 72.6144 71.45903333333332

In [77]:
bears_defense_mean = np.mean([bearslb_mean, bearsdl_mean, bearssecondary_mean])
bears_defense_mean

71.31475339506174

In [78]:
bears['lb_mean'] = bearslb_mean
bears['dl_mean'] = bearsdl_mean
bears['secondary_mean'] = bearssecondary_mean
bears['defense_rating'] = bears_defense_mean

In [79]:
lionsdt = lions[lions['Position'] == 'DT']
lionsre = lions[lions['Position'] == 'RE']
lionsle = lions[lions['Position'] == 'LE']
lionsdt['Predicted Rating'] = modeldt(lionsdt)
lionsre['Predicted Rating'] = modelre(lionsre)
lionsle['Predicted Rating'] = modelle(lionsle)
lionsdt_mean = np.mean(lionsdt['Predicted Rating'])
lionsre_mean = np.mean(lionsre['Predicted Rating'])
lionsle_mean = np.mean(lionsle['Predicted Rating'])
lionsdl_mean = np.mean([lionsdt_mean, lionsre_mean, lionsle_mean])
lionsdl_mean

70.61033166666668

In [80]:
lionsmlb = lions[lions['Position'] == 'MLB']
lionsrolb = lions[lions['Position'] == 'ROLB']
lionslolb = lions[lions['Position'] == 'LOLB']
lionsmlb['Predicted Rating'] = modelmlb(lionsmlb)
lionsrolb['Predicted Rating'] = modelrolb(lionsrolb)
lionslolb['Predicted Rating'] = modellolb(lionslolb)
lionsmlb_mean = np.mean(lionsmlb['Predicted Rating'])
lionsrolb_mean = np.mean(lionsrolb['Predicted Rating'])
lionslolb_mean = np.mean(lionslolb['Predicted Rating'])
lionslb_mean = np.mean([lionsmlb_mean, lionsrolb_mean, lionslolb_mean])
print(lionslb_mean, lionsmlb_mean, lionslolb_mean, lionsrolb_mean)

70.211 67.72663333333334 69.6703 73.23606666666666

In [81]:
lionscb = lions[lions['Position'] == 'CB']
lionsfs = lions[lions['Position'] == 'FS']
lionsss = lions[lions['Position'] == 'SS']
lionscb['Predicted Rating'] = modelcb(lionscb)
lionsss['Predicted Rating'] = modelss(lionsss)
lionsfs['Predicted Rating'] = modelfs(lionsfs)
lionsss_mean = np.mean(lionsss['Predicted Rating'])
lionscb_mean = np.mean(lionscb['Predicted Rating'])
lionsfs_mean = np.mean(lionsfs['Predicted Rating'])
lionssecondary_mean = np.mean([lionscb_mean, lionsss_mean, lionsfs_mean])
print(lionssecondary_mean, lionscb_mean, lionsfs_mean, lionsss_mean)

72.28704047619048 73.53137142857143 73.18920000000001 70.14055

In [82]:
lions_defense_mean = np.mean([lionslb_mean, lionsdl_mean, lionssecondary_mean])
lions_defense_mean

71.03612404761905

In [83]:
lions['lb_mean'] = lionslb_mean
lions['dl_mean'] = lionsdl_mean
lions['secondary_mean'] = lionssecondary_mean
lions['defense_rating'] = lions_defense_mean

In [84]:
packersdt = packers[packers['Position'] == 'DT']
packersre = packers[packers['Position'] == 'RE']
packersle = packers[packers['Position'] == 'LE']
packersdt['Predicted Rating'] = modeldt(packersdt)
packersre['Predicted Rating'] = modelre(packersre)
packersle['Predicted Rating'] = modelle(packersle)
packersdt_mean = np.mean(packersdt['Predicted Rating'])
packersre_mean = np.mean(packersre['Predicted Rating'])
packersle_mean = np.mean(packersle['Predicted Rating'])
packersdl_mean = np.mean([packersdt_mean, packersre_mean, packersle_mean])
packersdl_mean

72.56238333333333

In [85]:
packersmlb = packers[packers['Position'] == 'MLB']
packersrolb = packers[packers['Position'] == 'ROLB']
packerslolb = packers[packers['Position'] == 'LOLB']
packersmlb['Predicted Rating'] = modelmlb(packersmlb)
packersrolb['Predicted Rating'] = modelrolb(packersrolb)
packerslolb['Predicted Rating'] = modellolb(packerslolb)
packersmlb_mean = np.mean(packersmlb['Predicted Rating'])
packersrolb_mean = np.mean(packersrolb['Predicted Rating'])
packerslolb_mean = np.mean(packerslolb['Predicted Rating'])
packerslb_mean = np.mean([packersmlb_mean, packersrolb_mean, packerslolb_mean])
print(packerslb_mean, packersmlb_mean, packerslolb_mean, packersrolb_mean)

69.90115277777778 70.964475 67.71695 71.02203333333334

In [86]:
packerscb = packers[packers['Position'] == 'CB']
packersfs = packers[packers['Position'] == 'FS']
packersss = packers[packers['Position'] == 'SS']
packerscb['Predicted Rating'] = modelcb(packerscb)
packersss['Predicted Rating'] = modelss(packersss)
packersfs['Predicted Rating'] = modelfs(packersfs)
packersss_mean = np.mean(packersss['Predicted Rating'])
packerscb_mean = np.mean(packerscb['Predicted Rating'])
packersfs_mean = np.mean(packersfs['Predicted Rating'])
packerssecondary_mean = np.mean([packerscb_mean, packersss_mean, packersfs_mean])
print(packerssecondary_mean, packerscb_mean, packersfs_mean, packersss_mean)

69.37087777777776 70.42629999999998 70.31683333333332 67.3695

In [87]:
packers_defense_mean = np.mean([packerslb_mean, packersdl_mean, packerssecondary_mean])
packers_defense_mean

70.6114712962963

In [88]:
packers['lb_mean'] = packerslb_mean
packers['dl_mean'] = packersdl_mean
packers['secondary_mean'] = packerssecondary_mean
packers['defense_rating'] = packers_defense_mean

In [89]:
vikingsdt = vikings[vikings['Position'] == 'DT']
vikingsre = vikings[vikings['Position'] == 'RE']
vikingsle = vikings[vikings['Position'] == 'LE']
vikingsdt['Predicted Rating'] = modeldt(vikingsdt)
vikingsre['Predicted Rating'] = modelre(vikingsre)
vikingsle['Predicted Rating'] = modelle(vikingsle)
vikingsdt_mean = np.mean(vikingsdt['Predicted Rating'])
vikingsre_mean = np.mean(vikingsre['Predicted Rating'])
vikingsle_mean = np.mean(vikingsle['Predicted Rating'])
vikingsdl_mean = np.mean([vikingsdt_mean, vikingsre_mean, vikingsle_mean])
vikingsdl_mean

72.08215833333334

In [90]:
vikingsmlb = vikings[vikings['Position'] == 'MLB']
vikingsrolb = vikings[vikings['Position'] == 'ROLB']
vikingslolb = vikings[vikings['Position'] == 'LOLB']
vikingsmlb['Predicted Rating'] = modelmlb(vikingsmlb)
vikingsrolb['Predicted Rating'] = modelrolb(vikingsrolb)
vikingslolb['Predicted Rating'] = modellolb(vikingslolb)
vikingsmlb_mean = np.mean(vikingsmlb['Predicted Rating'])
vikingsrolb_mean = np.mean(vikingsrolb['Predicted Rating'])
vikingslolb_mean = np.mean(vikingslolb['Predicted Rating'])
vikingslb_mean = np.mean([vikingsmlb_mean, vikingsrolb_mean, vikingslolb_mean])
print(vikingslb_mean, vikingsmlb_mean, vikingslolb_mean, vikingsrolb_mean)

70.19754444444445 68.12929999999999 66.85643333333334 75.6069

In [91]:
vikingscb = vikings[vikings['Position'] == 'CB']
vikingsfs = vikings[vikings['Position'] == 'FS']
vikingsss = vikings[vikings['Position'] == 'SS']
vikingscb['Predicted Rating'] = modelcb(vikingscb)
vikingsss['Predicted Rating'] = modelss(vikingsss)
vikingsfs['Predicted Rating'] = modelfs(vikingsfs)
vikingsss_mean = np.mean(vikingsss['Predicted Rating'])
vikingscb_mean = np.mean(vikingscb['Predicted Rating'])
vikingsfs_mean = np.mean(vikingsfs['Predicted Rating'])
vikingssecondary_mean = np.mean([vikingscb_mean, vikingsss_mean, vikingsfs_mean])
print(vikingssecondary_mean, vikingscb_mean, vikingsfs_mean, vikingsss_mean)

75.79947916666667 73.4056875 83.34065000000001 70.65209999999999

In [92]:
vikings_defense_mean = np.mean([vikingslb_mean, vikingsdl_mean, vikingssecondary_mean])
vikings_defense_mean

72.69306064814816

In [93]:
vikings['lb_mean'] = vikingslb_mean
vikings['dl_mean'] = vikingsdl_mean
vikings['secondary_mean'] = vikingssecondary_mean
vikings['defense_rating'] = vikings_defense_mean

In [250]:
nfc_north = pd.concat([bears, vikings, packers, lions], axis=0)

In [94]:
####NFC SOUTH

In [95]:
buccaneersdt = buccaneers[buccaneers['Position'] == 'DT']
buccaneersre = buccaneers[buccaneers['Position'] == 'RE']
buccaneersle = buccaneers[buccaneers['Position'] == 'LE']
buccaneersdt['Predicted Rating'] = modeldt(buccaneersdt)
buccaneersre['Predicted Rating'] = modelre(buccaneersre)
buccaneersle['Predicted Rating'] = modelle(buccaneersle)
buccaneersdt_mean = np.mean(buccaneersdt['Predicted Rating'])
buccaneersre_mean = np.mean(buccaneersre['Predicted Rating'])
buccaneersle_mean = np.mean(buccaneersle['Predicted Rating'])
buccaneersdl_mean = np.mean([buccaneersdt_mean, buccaneersre_mean, buccaneersle_mean])
buccaneersdl_mean

72.831

In [96]:
buccaneersmlb = buccaneers[buccaneers['Position'] == 'MLB']
buccaneersrolb = buccaneers[buccaneers['Position'] == 'ROLB']
buccaneerslolb = buccaneers[buccaneers['Position'] == 'LOLB']
buccaneersmlb['Predicted Rating'] = modelmlb(buccaneersmlb)
buccaneersrolb['Predicted Rating'] = modelrolb(buccaneersrolb)
buccaneerslolb['Predicted Rating'] = modellolb(buccaneerslolb)
buccaneersmlb_mean = np.mean(buccaneersmlb['Predicted Rating'])
buccaneersrolb_mean = np.mean(buccaneersrolb['Predicted Rating'])
buccaneerslolb_mean = np.mean(buccaneerslolb['Predicted Rating'])
buccaneerslb_mean = np.mean([buccaneersmlb_mean, buccaneersrolb_mean, buccaneerslolb_mean])
print(buccaneerslb_mean, buccaneersmlb_mean, buccaneerslolb_mean, buccaneersrolb_mean)

70.49145555555555 69.39243333333333 68.4355 73.64643333333332

In [97]:
buccaneerscb = buccaneers[buccaneers['Position'] == 'CB']
buccaneersfs = buccaneers[buccaneers['Position'] == 'FS']
buccaneersss = buccaneers[buccaneers['Position'] == 'SS']
buccaneerscb['Predicted Rating'] = modelcb(buccaneerscb)
buccaneersss['Predicted Rating'] = modelss(buccaneersss)
buccaneersfs['Predicted Rating'] = modelfs(buccaneersfs)
buccaneersss_mean = np.mean(buccaneersss['Predicted Rating'])
buccaneerscb_mean = np.mean(buccaneerscb['Predicted Rating'])
buccaneersfs_mean = np.mean(buccaneersfs['Predicted Rating'])
buccaneerssecondary_mean = np.mean([buccaneerscb_mean, buccaneersss_mean, buccaneersfs_mean])
print(buccaneerssecondary_mean, buccaneerscb_mean, buccaneersfs_mean, buccaneersss_mean)

69.69411626984127 72.98685714285715 69.16336666666668 66.932125

In [98]:
buccaneers_defense_mean = np.mean([buccaneerslb_mean, buccaneersdl_mean, buccaneerssecondary_mean])
buccaneers_defense_mean

71.00552394179896

In [99]:
buccaneers['lb_mean'] = buccaneerslb_mean
buccaneers['dl_mean'] = buccaneersdl_mean
buccaneers['secondary_mean'] = buccaneerssecondary_mean
buccaneers['defense_rating'] = buccaneers_defense_mean

In [100]:
falconsdt = falcons[falcons['Position'] == 'DT']
falconsre = falcons[falcons['Position'] == 'RE']
falconsle = falcons[falcons['Position'] == 'LE']
falconsdt['Predicted Rating'] = modeldt(falconsdt)
falconsre['Predicted Rating'] = modelre(falconsre)
falconsle['Predicted Rating'] = modelle(falconsle)
falconsdt_mean = np.mean(falconsdt['Predicted Rating'])
falconsre_mean = np.mean(falconsre['Predicted Rating'])
falconsle_mean = np.mean(falconsle['Predicted Rating'])
falconsdl_mean = np.mean([falconsdt_mean, falconsre_mean, falconsle_mean])
falconsdl_mean

70.95448809523809

In [101]:
falconsmlb = falcons[falcons['Position'] == 'MLB']
falconsrolb = falcons[falcons['Position'] == 'ROLB']
falconslolb = falcons[falcons['Position'] == 'LOLB']
falconsmlb['Predicted Rating'] = modelmlb(falconsmlb)
falconsrolb['Predicted Rating'] = modelrolb(falconsrolb)
falconslolb['Predicted Rating'] = modellolb(falconslolb)
falconsmlb_mean = np.mean(falconsmlb['Predicted Rating'])
falconsrolb_mean = np.mean(falconsrolb['Predicted Rating'])
falconslolb_mean = np.mean(falconslolb['Predicted Rating'])
falconslb_mean = np.mean([falconsmlb_mean, falconsrolb_mean, falconslolb_mean])
print(falconslb_mean, falconsmlb_mean, falconslolb_mean, falconsrolb_mean)

66.77071111111111 65.42813333333334 63.87346666666667 71.01053333333333

In [102]:
falconscb = falcons[falcons['Position'] == 'CB']
falconsfs = falcons[falcons['Position'] == 'FS']
falconsss = falcons[falcons['Position'] == 'SS']
falconscb['Predicted Rating'] = modelcb(falconscb)
falconsss['Predicted Rating'] = modelss(falconsss)
falconsfs['Predicted Rating'] = modelfs(falconsfs)
falconsss_mean = np.mean(falconsss['Predicted Rating'])
falconscb_mean = np.mean(falconscb['Predicted Rating'])
falconsfs_mean = np.mean(falconsfs['Predicted Rating'])
falconssecondary_mean = np.mean([falconscb_mean, falconsss_mean, falconsfs_mean])
print(falconssecondary_mean, falconscb_mean, falconsfs_mean, falconsss_mean)

74.76074999999999 75.085925 74.43507499999998 74.76124999999999

In [103]:
falcons_defense_mean = np.mean([falconslb_mean, falconsdl_mean, falconssecondary_mean])
falcons_defense_mean

70.82864973544973

In [104]:
falcons['lb_mean'] = falconslb_mean
falcons['dl_mean'] = falconsdl_mean
falcons['secondary_mean'] = falconssecondary_mean
falcons['defense_rating'] = falcons_defense_mean

In [105]:
panthersdt = panthers[panthers['Position'] == 'DT']
panthersre = panthers[panthers['Position'] == 'RE']
panthersle = panthers[panthers['Position'] == 'LE']
panthersdt['Predicted Rating'] = modeldt(panthersdt)
panthersre['Predicted Rating'] = modelre(panthersre)
panthersle['Predicted Rating'] = modelle(panthersle)
panthersdt_mean = np.mean(panthersdt['Predicted Rating'])
panthersre_mean = np.mean(panthersre['Predicted Rating'])
panthersle_mean = np.mean(panthersle['Predicted Rating'])
panthersdl_mean = np.mean([panthersdt_mean, panthersre_mean, panthersle_mean])
panthersdl_mean

72.1806561111111

In [106]:
panthersmlb = panthers[panthers['Position'] == 'MLB']
panthersrolb = panthers[panthers['Position'] == 'ROLB']
pantherslolb = panthers[panthers['Position'] == 'LOLB']
panthersmlb['Predicted Rating'] = modelmlb(panthersmlb)
panthersrolb['Predicted Rating'] = modelrolb(panthersrolb)
pantherslolb['Predicted Rating'] = modellolb(pantherslolb)
panthersmlb_mean = np.mean(panthersmlb['Predicted Rating'])
panthersrolb_mean = np.mean(panthersrolb['Predicted Rating'])
pantherslolb_mean = np.mean(pantherslolb['Predicted Rating'])
pantherslb_mean = np.mean([panthersmlb_mean, panthersrolb_mean, pantherslolb_mean])
print(pantherslb_mean, panthersmlb_mean, pantherslolb_mean, panthersrolb_mean)

76.358925 72.606175 70.50439999999999 85.9662

In [107]:
pantherscb = panthers[panthers['Position'] == 'CB']
panthersfs = panthers[panthers['Position'] == 'FS']
panthersss = panthers[panthers['Position'] == 'SS']
pantherscb['Predicted Rating'] = modelcb(pantherscb)
panthersss['Predicted Rating'] = modelss(panthersss)
panthersfs['Predicted Rating'] = modelfs(panthersfs)
panthersss_mean = np.mean(panthersss['Predicted Rating'])
pantherscb_mean = np.mean(pantherscb['Predicted Rating'])
panthersfs_mean = np.mean(panthersfs['Predicted Rating'])
pantherssecondary_mean = np.mean([pantherscb_mean, panthersss_mean, panthersfs_mean])
print(pantherssecondary_mean, pantherscb_mean, panthersfs_mean, panthersss_mean)

70.46456203703703 70.82571111111112 69.68594999999999 70.882025

In [108]:
panthers_defense_mean = np.mean([pantherslb_mean, panthersdl_mean, pantherssecondary_mean])
panthers_defense_mean

73.0013810493827

In [109]:
panthers['lb_mean'] = pantherslb_mean
panthers['dl_mean'] = panthersdl_mean
panthers['secondary_mean'] = pantherssecondary_mean
panthers['defense_rating'] = panthers_defense_mean

In [110]:
saintsdt = saints[saints['Position'] == 'DT']
saintsre = saints[saints['Position'] == 'RE']
saintsle = saints[saints['Position'] == 'LE']
saintsdt['Predicted Rating'] = modeldt(saintsdt)
saintsre['Predicted Rating'] = modelre(saintsre)
saintsle['Predicted Rating'] = modelle(saintsle)
saintsdt_mean = np.mean(saintsdt['Predicted Rating'])
saintsre_mean = np.mean(saintsre['Predicted Rating'])
saintsle_mean = np.mean(saintsle['Predicted Rating'])
saintsdl_mean = np.mean([saintsdt_mean, saintsre_mean, saintsle_mean])
saintsdl_mean

73.28057420634921

In [111]:
saintsmlb = saints[saints['Position'] == 'MLB']
saintsrolb = saints[saints['Position'] == 'ROLB']
saintslolb = saints[saints['Position'] == 'LOLB']
saintsmlb['Predicted Rating'] = modelmlb(saintsmlb)
saintsrolb['Predicted Rating'] = modelrolb(saintsrolb)
saintslolb['Predicted Rating'] = modellolb(saintslolb)
saintsmlb_mean = np.mean(saintsmlb['Predicted Rating'])
saintsrolb_mean = np.mean(saintsrolb['Predicted Rating'])
saintslolb_mean = np.mean(saintslolb['Predicted Rating'])
saintslb_mean = np.mean([saintsmlb_mean, saintsrolb_mean, saintslolb_mean])
print(saintslb_mean, saintsmlb_mean, saintslolb_mean, saintsrolb_mean)

76.01378888888888 80.8706 70.87716666666667 76.2936

In [112]:
saintscb = saints[saints['Position'] == 'CB']
saintsfs = saints[saints['Position'] == 'FS']
saintsss = saints[saints['Position'] == 'SS']
saintscb['Predicted Rating'] = modelcb(saintscb)
saintsss['Predicted Rating'] = modelss(saintsss)
saintsfs['Predicted Rating'] = modelfs(saintsfs)
saintsss_mean = np.mean(saintsss['Predicted Rating'])
saintscb_mean = np.mean(saintscb['Predicted Rating'])
saintsfs_mean = np.mean(saintsfs['Predicted Rating'])
saintssecondary_mean = np.mean([saintscb_mean, saintsss_mean, saintsfs_mean])
print(saintssecondary_mean, saintscb_mean, saintsfs_mean, saintsss_mean)

71.87889305555554 73.53661249999999 68.77866666666667 73.3214

In [113]:
saints_defense_mean = np.mean([saintslb_mean, saintsdl_mean, saintssecondary_mean])
saints_defense_mean

73.72441871693121

In [251]:
saints['lb_mean'] = saintslb_mean
saints['dl_mean'] = saintsdl_mean
saints['secondary_mean'] = saintssecondary_mean
saints['defense_rating'] = saints_defense_mean

In [253]:
nfc_south = pd.concat([saints, buccaneers, falcons, panthers], axis=0)

In [254]:
nfc_defense = pd.concat([nfc_east, nfc_west, nfc_south, nfc_north])

In [256]:
nfc_defense.to_csv('C:\\Users\\tilleymusprime\\Desktop\\nfc_defense.csv')

In [257]:
##AFC Defenses

In [258]:
#AFC NORTH

In [259]:
ravensdt = ravens[ravens['Position'] == 'DT']
ravensre = ravens[ravens['Position'] == 'RE']
ravensle = ravens[ravens['Position'] == 'LE']
ravensdt['Predicted Rating'] = modeldt(ravensdt)
ravensre['Predicted Rating'] = modelre(ravensre)
ravensle['Predicted Rating'] = modelle(ravensle)
ravensdt_mean = np.mean(ravensdt['Predicted Rating'])
ravensre_mean = np.mean(ravensre['Predicted Rating'])
ravensle_mean = np.mean(ravensle['Predicted Rating'])
ravensdl_mean = np.mean([ravensdt_mean, ravensre_mean, ravensle_mean])
ravensdl_mean

74.77348333333333

In [260]:
ravensmlb = ravens[ravens['Position'] == 'MLB']
ravensrolb = ravens[ravens['Position'] == 'ROLB']
ravenslolb = ravens[ravens['Position'] == 'LOLB']
ravensmlb['Predicted Rating'] = modelmlb(ravensmlb)
ravensrolb['Predicted Rating'] = modelrolb(ravensrolb)
ravenslolb['Predicted Rating'] = modellolb(ravenslolb)
ravensmlb_mean = np.mean(ravensmlb['Predicted Rating'])
ravensrolb_mean = np.mean(ravensrolb['Predicted Rating'])
ravenslolb_mean = np.mean(ravenslolb['Predicted Rating'])
ravenslb_mean = np.mean([ravensmlb_mean, ravensrolb_mean, ravenslolb_mean])
print(ravenslb_mean, ravensmlb_mean, ravenslolb_mean, ravensrolb_mean)

71.83172777777777 68.11578333333334 71.41223333333333 75.96716666666667

In [261]:
ravenscb = ravens[ravens['Position'] == 'CB']
ravensfs = ravens[ravens['Position'] == 'FS']
ravensss = ravens[ravens['Position'] == 'SS']
ravenscb['Predicted Rating'] = modelcb(ravenscb)
ravensss['Predicted Rating'] = modelss(ravensss)
ravensfs['Predicted Rating'] = modelfs(ravensfs)
ravensss_mean = np.mean(ravensss['Predicted Rating'])
ravenscb_mean = np.mean(ravenscb['Predicted Rating'])
ravensfs_mean = np.mean(ravensfs['Predicted Rating'])
ravenssecondary_mean = np.mean([ravenscb_mean, ravensss_mean, ravensfs_mean])
print(ravenssecondary_mean, ravenscb_mean, ravensfs_mean, ravensss_mean)

75.22433703703703 73.09501111111112 71.37424999999999 81.20375

In [267]:
ravens_defense_mean = np.mean([ravenslb_mean, ravensdl_mean, ravenssecondary_mean])
ravens_defense_mean

73.94318271604938

In [268]:
ravens['lb_mean'] = ravenslb_mean
ravens['dl_mean'] = ravensdl_mean
ravens['secondary_mean'] = ravenssecondary_mean
ravens['defense_rating'] = ravens_defense_mean

In [263]:
brownsdt = browns[browns['Position'] == 'DT']
brownsre = browns[browns['Position'] == 'RE']
brownsle = browns[browns['Position'] == 'LE']
brownsdt['Predicted Rating'] = modeldt(brownsdt)
brownsre['Predicted Rating'] = modelre(brownsre)
brownsle['Predicted Rating'] = modelle(brownsle)
brownsdt_mean = np.mean(brownsdt['Predicted Rating'])
brownsre_mean = np.mean(brownsre['Predicted Rating'])
brownsle_mean = np.mean(brownsle['Predicted Rating'])
brownsdl_mean = np.mean([brownsdt_mean, brownsre_mean, brownsle_mean])
brownsdl_mean

72.78975000000001

In [264]:
brownsmlb = browns[browns['Position'] == 'MLB']
brownsrolb = browns[browns['Position'] == 'ROLB']
brownslolb = browns[browns['Position'] == 'LOLB']
brownsmlb['Predicted Rating'] = modelmlb(brownsmlb)
brownsrolb['Predicted Rating'] = modelrolb(brownsrolb)
brownslolb['Predicted Rating'] = modellolb(brownslolb)
brownsmlb_mean = np.mean(brownsmlb['Predicted Rating'])
brownsrolb_mean = np.mean(brownsrolb['Predicted Rating'])
brownslolb_mean = np.mean(brownslolb['Predicted Rating'])
brownslb_mean = np.mean([brownsmlb_mean, brownsrolb_mean, brownslolb_mean])
print(brownslb_mean, brownsmlb_mean, brownslolb_mean, brownsrolb_mean)

71.72767499999999 71.85867499999999 69.6311 73.69325

In [265]:
brownscb = browns[browns['Position'] == 'CB']
brownsfs = browns[browns['Position'] == 'FS']
brownsss = browns[browns['Position'] == 'SS']
brownscb['Predicted Rating'] = modelcb(brownscb)
brownsss['Predicted Rating'] = modelss(brownsss)
brownsfs['Predicted Rating'] = modelfs(brownsfs)
brownsss_mean = np.mean(brownsss['Predicted Rating'])
brownscb_mean = np.mean(brownscb['Predicted Rating'])
brownsfs_mean = np.mean(brownsfs['Predicted Rating'])
brownssecondary_mean = np.mean([brownscb_mean, brownsss_mean, brownsfs_mean])
print(brownssecondary_mean, brownscb_mean, brownsfs_mean, brownsss_mean)

72.14508111111111 71.14421 71.324 73.96703333333333

In [266]:
browns_defense_mean = np.mean([brownslb_mean, brownsdl_mean, brownssecondary_mean])
browns_defense_mean

72.22083537037037

In [269]:
browns['lb_mean'] = brownslb_mean
browns['dl_mean'] = brownsdl_mean
browns['secondary_mean'] = brownssecondary_mean
browns['defense_rating'] = browns_defense_mean

In [270]:
bengalsdt = bengals[bengals['Position'] == 'DT']
bengalsre = bengals[bengals['Position'] == 'RE']
bengalsle = bengals[bengals['Position'] == 'LE']
bengalsdt['Predicted Rating'] = modeldt(bengalsdt)
bengalsre['Predicted Rating'] = modelre(bengalsre)
bengalsle['Predicted Rating'] = modelle(bengalsle)
bengalsdt_mean = np.mean(bengalsdt['Predicted Rating'])
bengalsre_mean = np.mean(bengalsre['Predicted Rating'])
bengalsle_mean = np.mean(bengalsle['Predicted Rating'])
bengalsdl_mean = np.mean([bengalsdt_mean, bengalsre_mean, bengalsle_mean])
bengalsdl_mean

74.40940555555555

In [271]:
bengalsmlb = bengals[bengals['Position'] == 'MLB']
bengalsrolb = bengals[bengals['Position'] == 'ROLB']
bengalslolb = bengals[bengals['Position'] == 'LOLB']
bengalsmlb['Predicted Rating'] = modelmlb(bengalsmlb)
bengalsrolb['Predicted Rating'] = modelrolb(bengalsrolb)
bengalslolb['Predicted Rating'] = modellolb(bengalslolb)
bengalsmlb_mean = np.mean(bengalsmlb['Predicted Rating'])
bengalsrolb_mean = np.mean(bengalsrolb['Predicted Rating'])
bengalslolb_mean = np.mean(bengalslolb['Predicted Rating'])
bengalslb_mean = np.mean([bengalsmlb_mean, bengalsrolb_mean, bengalslolb_mean])
print(bengalslb_mean, bengalsmlb_mean, bengalslolb_mean, bengalsrolb_mean)

70.63295833333333 67.487325 70.00625 74.4053

In [272]:
bengalscb = bengals[bengals['Position'] == 'CB']
bengalsfs = bengals[bengals['Position'] == 'FS']
bengalsss = bengals[bengals['Position'] == 'SS']
bengalscb['Predicted Rating'] = modelcb(bengalscb)
bengalsss['Predicted Rating'] = modelss(bengalsss)
bengalsfs['Predicted Rating'] = modelfs(bengalsfs)
bengalsss_mean = np.mean(bengalsss['Predicted Rating'])
bengalscb_mean = np.mean(bengalscb['Predicted Rating'])
bengalsfs_mean = np.mean(bengalsfs['Predicted Rating'])
bengalssecondary_mean = np.mean([bengalscb_mean, bengalsss_mean, bengalsfs_mean])
print(bengalssecondary_mean, bengalscb_mean, bengalsfs_mean, bengalsss_mean)

71.1013253968254 71.48184285714287 72.17309999999999 69.64903333333335

In [273]:
bengals_defense_mean = np.mean([bengalslb_mean, bengalsdl_mean, bengalssecondary_mean])
bengals_defense_mean

72.04789642857143

In [274]:
bengals['lb_mean'] = bengalslb_mean
bengals['dl_mean'] = bengalsdl_mean
bengals['secondary_mean'] = bengalssecondary_mean
bengals['defense_rating'] = bengals_defense_mean

In [275]:
steelersdt = steelers[steelers['Position'] == 'DT']
steelersre = steelers[steelers['Position'] == 'RE']
steelersle = steelers[steelers['Position'] == 'LE']
steelersdt['Predicted Rating'] = modeldt(steelersdt)
steelersre['Predicted Rating'] = modelre(steelersre)
steelersle['Predicted Rating'] = modelle(steelersle)
steelersdt_mean = np.mean(steelersdt['Predicted Rating'])
steelersre_mean = np.mean(steelersre['Predicted Rating'])
steelersle_mean = np.mean(steelersle['Predicted Rating'])
steelersdl_mean = np.mean([steelersdt_mean, steelersre_mean, steelersle_mean])
steelersdl_mean

73.83018333333334

In [277]:
steelersmlb = steelers[steelers['Position'] == 'MLB']
steelersrolb = steelers[steelers['Position'] == 'ROLB']
steelerslolb = steelers[steelers['Position'] == 'LOLB']
steelersmlb['Predicted Rating'] = modelmlb(steelersmlb)
steelersrolb['Predicted Rating'] = modelrolb(steelersrolb)
steelerslolb['Predicted Rating'] = modellolb(steelerslolb)
steelersmlb_mean = np.mean(steelersmlb['Predicted Rating'])
steelersrolb_mean = np.mean(steelersrolb['Predicted Rating'])
steelerslolb_mean = np.mean(steelerslolb['Predicted Rating'])
steelerslb_mean = np.mean([steelersmlb_mean, steelersrolb_mean, steelerslolb_mean])
print(steelerslb_mean, steelersmlb_mean, steelerslolb_mean, steelersrolb_mean)

69.42003095238096 69.53984285714286 68.87235000000001 69.8479

In [278]:
steelerscb = steelers[steelers['Position'] == 'CB']
steelersfs = steelers[steelers['Position'] == 'FS']
steelersss = steelers[steelers['Position'] == 'SS']
steelerscb['Predicted Rating'] = modelcb(steelerscb)
steelersss['Predicted Rating'] = modelss(steelersss)
steelersfs['Predicted Rating'] = modelfs(steelersfs)
steelersss_mean = np.mean(steelersss['Predicted Rating'])
steelerscb_mean = np.mean(steelerscb['Predicted Rating'])
steelersfs_mean = np.mean(steelersfs['Predicted Rating'])
steelerssecondary_mean = np.mean([steelerscb_mean, steelersss_mean, steelersfs_mean])
print(steelerssecondary_mean, steelerscb_mean, steelersfs_mean, steelersss_mean)

71.35090833333334 71.8138 70.125 72.11392500000001

In [279]:
steelers_defense_mean = np.mean([steelerslb_mean, steelersdl_mean, steelerssecondary_mean])
steelers_defense_mean

71.53370753968254

In [280]:
steelers['lb_mean'] = steelerslb_mean
steelers['dl_mean'] = steelersdl_mean
steelers['secondary_mean'] = steelerssecondary_mean
steelers['defense_rating'] = steelers_defense_mean

In [281]:
afc_north_defense = pd.concat([browns, ravens, bengals, steelers], axis=0)

In [282]:
###AFC SOUTH Defense

In [283]:
texansdt = texans[texans['Position'] == 'DT']
texansre = texans[texans['Position'] == 'RE']
texansle = texans[texans['Position'] == 'LE']
texansdt['Predicted Rating'] = modeldt(texansdt)
texansre['Predicted Rating'] = modelre(texansre)
texansle['Predicted Rating'] = modelle(texansle)
texansdt_mean = np.mean(texansdt['Predicted Rating'])
texansre_mean = np.mean(texansre['Predicted Rating'])
texansle_mean = np.mean(texansle['Predicted Rating'])
texansdl_mean = np.mean([texansdt_mean, texansre_mean, texansle_mean])
texansdl_mean

74.58626111111111

In [284]:
texansmlb = texans[texans['Position'] == 'MLB']
texansrolb = texans[texans['Position'] == 'ROLB']
texanslolb = texans[texans['Position'] == 'LOLB']
texansmlb['Predicted Rating'] = modelmlb(texansmlb)
texansrolb['Predicted Rating'] = modelrolb(texansrolb)
texanslolb['Predicted Rating'] = modellolb(texanslolb)
texansmlb_mean = np.mean(texansmlb['Predicted Rating'])
texansrolb_mean = np.mean(steelersrolb['Predicted Rating'])
texanslolb_mean = np.mean(texanslolb['Predicted Rating'])
texanslb_mean = np.mean([texansmlb_mean, texansrolb_mean, texanslolb_mean])
print(texanslb_mean, texansmlb_mean, texanslolb_mean, texansrolb_mean)

70.7278 73.406125 68.929375 69.8479

In [285]:
texanscb = texans[texans['Position'] == 'CB']
texansfs = texans[texans['Position'] == 'FS']
texansss = texans[texans['Position'] == 'SS']
texanscb['Predicted Rating'] = modelcb(texanscb)
texansss['Predicted Rating'] = modelss(texansss)
texansfs['Predicted Rating'] = modelfs(texansfs)
texansss_mean = np.mean(texansss['Predicted Rating'])
texanscb_mean = np.mean(texanscb['Predicted Rating'])
texansfs_mean = np.mean(texansfs['Predicted Rating'])
texanssecondary_mean = np.mean([texanscb_mean, texansss_mean, texansfs_mean])
print(texanssecondary_mean, texanscb_mean, texansfs_mean, texansss_mean)

75.2539861111111 73.243625 78.88126666666666 73.63706666666666

In [286]:
texans_defense_mean = np.mean([texanslb_mean, texansdl_mean, texanssecondary_mean])
texans_defense_mean

73.5226824074074

In [287]:
texans['lb_mean'] = texanslb_mean
texans['dl_mean'] = texansdl_mean
texans['secondary_mean'] = texanssecondary_mean
texans['defense_rating'] = texans_defense_mean

In [288]:
coltsdt = colts[colts['Position'] == 'DT']
coltsre = colts[colts['Position'] == 'RE']
coltsle = colts[colts['Position'] == 'LE']
coltsdt['Predicted Rating'] = modeldt(coltsdt)
coltsre['Predicted Rating'] = modelre(coltsre)
coltsle['Predicted Rating'] = modelle(coltsle)
coltsdt_mean = np.mean(coltsdt['Predicted Rating'])
coltsre_mean = np.mean(coltsre['Predicted Rating'])
coltsle_mean = np.mean(coltsle['Predicted Rating'])
coltsdl_mean = np.mean([coltsdt_mean, coltsre_mean, coltsle_mean])
coltsdl_mean

73.52759666666667

In [289]:
coltsmlb = colts[colts['Position'] == 'MLB']
coltsrolb = colts[colts['Position'] == 'ROLB']
coltslolb = colts[colts['Position'] == 'LOLB']
coltsmlb['Predicted Rating'] = modelmlb(coltsmlb)
coltsrolb['Predicted Rating'] = modelrolb(coltsrolb)
coltslolb['Predicted Rating'] = modellolb(coltslolb)
coltsmlb_mean = np.mean(coltsmlb['Predicted Rating'])
coltsrolb_mean = np.mean(coltsrolb['Predicted Rating'])
coltslolb_mean = np.mean(coltslolb['Predicted Rating'])
coltslb_mean = np.mean([coltsmlb_mean, coltsrolb_mean, coltslolb_mean])
print(coltslb_mean, coltsmlb_mean, coltslolb_mean, coltsrolb_mean)

68.29469166666667 66.54115 71.5751 66.767825

In [290]:
coltscb = colts[colts['Position'] == 'CB']
coltsfs = colts[colts['Position'] == 'FS']
coltsss = colts[colts['Position'] == 'SS']
coltscb['Predicted Rating'] = modelcb(coltscb)
coltsss['Predicted Rating'] = modelss(coltsss)
coltsfs['Predicted Rating'] = modelfs(coltsfs)
coltsss_mean = np.mean(coltsss['Predicted Rating'])
coltscb_mean = np.mean(coltscb['Predicted Rating'])
coltsfs_mean = np.mean(coltsfs['Predicted Rating'])
coltssecondary_mean = np.mean([coltscb_mean, coltsss_mean, coltsfs_mean])
print(coltssecondary_mean, coltscb_mean, coltsfs_mean, coltsss_mean)

72.67332777777777 69.21815 71.22593333333333 77.57589999999999

In [292]:
colts_defense_mean = np.mean([coltslb_mean, coltsdl_mean, coltssecondary_mean])
colts_defense_mean

71.49853870370372

In [294]:
colts['lb_mean'] = coltslb_mean
colts['dl_mean'] = coltsdl_mean
colts['secondary_mean'] = coltssecondary_mean
colts['defense_rating'] = colts_defense_mean

In [295]:
titansdt = titans[titans['Position'] == 'DT']
titansre = titans[titans['Position'] == 'RE']
titansle = titans[titans['Position'] == 'LE']
titansdt['Predicted Rating'] = modeldt(titansdt)
titansre['Predicted Rating'] = modelre(titansre)
titansle['Predicted Rating'] = modelle(titansle)
titansdt_mean = np.mean(titansdt['Predicted Rating'])
titansre_mean = np.mean(titansre['Predicted Rating'])
titansle_mean = np.mean(titansle['Predicted Rating'])
titansdl_mean = np.mean([titansdt_mean, titansre_mean, titansle_mean])
titansdl_mean

74.77590000000001

In [296]:
titansmlb = titans[titans['Position'] == 'MLB']
titansrolb = titans[titans['Position'] == 'ROLB']
titanslolb = colts[colts['Position'] == 'LOLB']
titansmlb['Predicted Rating'] = modelmlb(titansmlb)
titansrolb['Predicted Rating'] = modelrolb(titansrolb)
titanslolb['Predicted Rating'] = modellolb(titanslolb)
titansmlb_mean = np.mean(titansmlb['Predicted Rating'])
titansrolb_mean = np.mean(titansrolb['Predicted Rating'])
titanslolb_mean = np.mean(titanslolb['Predicted Rating'])
titanslb_mean = np.mean([titansmlb_mean, titansrolb_mean, titanslolb_mean])
print(titanslb_mean, titansmlb_mean, titanslolb_mean, titansrolb_mean)

69.76270357142857 68.28978571428571 71.5751 69.423225

In [298]:
titanscb = titans[titans['Position'] == 'CB']
titansfs = titans[titans['Position'] == 'FS']
titansss = titans[titans['Position'] == 'SS']
titanscb['Predicted Rating'] = modelcb(titanscb)
titansss['Predicted Rating'] = modelss(titansss)
titansfs['Predicted Rating'] = modelfs(titansfs)
titansss_mean = np.mean(titansss['Predicted Rating'])
titanscb_mean = np.mean(titanscb['Predicted Rating'])
titansfs_mean = np.mean(titansfs['Predicted Rating'])
titanssecondary_mean = np.mean([titanscb_mean, titansss_mean, titansfs_mean])
print(titanssecondary_mean, titanscb_mean, titansfs_mean, titansss_mean)

72.0346 71.71353333333333 74.83946666666667 69.5508

In [299]:
titans_defense_mean = np.mean([titanslb_mean, titansdl_mean, titansecondary_mean])
titans_defense_mean

72.19106785714285

In [300]:
titans['lb_mean'] = titanslb_mean
titans['dl_mean'] = titansdl_mean
titans['secondary_mean'] = titanssecondary_mean
titans['defense_rating'] = titans_defense_mean

In [301]:
jaguarsdt = jaguars[jaguars['Position'] == 'DT']
jaguarsre = jaguars[jaguars['Position'] == 'RE']
jaguarsle = jaguars[jaguars['Position'] == 'LE']
jaguarsdt['Predicted Rating'] = modeldt(jaguarsdt)
jaguarsre['Predicted Rating'] = modelre(jaguarsre)
jaguarsle['Predicted Rating'] = modelle(jaguarsle)
jaguarsdt_mean = np.mean(jaguarsdt['Predicted Rating'])
jaguarsre_mean = np.mean(jaguarsre['Predicted Rating'])
jaguarsle_mean = np.mean(jaguarsle['Predicted Rating'])
jaguarsdl_mean = np.mean([jaguarsdt_mean, jaguarsre_mean, jaguarsle_mean])
jaguarsdl_mean

72.22613333333335

In [302]:
jaguarsmlb = jaguars[jaguars['Position'] == 'MLB']
jaguarsrolb = jaguars[jaguars['Position'] == 'ROLB']
jaguarslolb = jaguars[jaguars['Position'] == 'LOLB']
jaguarsmlb['Predicted Rating'] = modelmlb(jaguarsmlb)
jaguarsrolb['Predicted Rating'] = modelrolb(jaguarsrolb)
jaguarslolb['Predicted Rating'] = modellolb(jaguarslolb)
jaguarsmlb_mean = np.mean(jaguarsmlb['Predicted Rating'])
jaguarsrolb_mean = np.mean(jaguarsrolb['Predicted Rating'])
jaguarslolb_mean = np.mean(jaguarslolb['Predicted Rating'])
jaguarslb_mean = np.mean([jaguarsmlb_mean, jaguarsrolb_mean, jaguarslolb_mean])
print(jaguarslb_mean, jaguarsmlb_mean, jaguarslolb_mean, jaguarsrolb_mean)

68.56105555555554 63.49629999999999 69.61293333333333 72.57393333333333

In [303]:
jaguarscb = jaguars[jaguars['Position'] == 'CB']
jaguarsfs = jaguars[jaguars['Position'] == 'FS']
jaguarsss = jaguars[jaguars['Position'] == 'SS']
jaguarscb['Predicted Rating'] = modelcb(jaguarscb)
jaguarsss['Predicted Rating'] = modelss(jaguarsss)
jaguarsfs['Predicted Rating'] = modelfs(jaguarsfs)
jaguarsss_mean = np.mean(jaguarsss['Predicted Rating'])
jaguarscb_mean = np.mean(jaguarscb['Predicted Rating'])
jaguarsfs_mean = np.mean(jaguarsfs['Predicted Rating'])
jaguarssecondary_mean = np.mean([jaguarscb_mean, jaguarsss_mean, jaguarsfs_mean])
print(jaguarssecondary_mean, jaguarscb_mean, jaguarsfs_mean, jaguarsss_mean)

74.69853055555556 72.99312499999999 76.5604 74.54206666666666

In [304]:
jaguars_defense_mean = np.mean([jaguarslb_mean, jaguarsdl_mean, jaguarssecondary_mean])
jaguars_defense_mean

71.82857314814815

In [305]:
jaguars['lb_mean'] = jaguarslb_mean
jaguars['dl_mean'] = jaguarsdl_mean
jaguars['secondary_mean'] = jaguarssecondary_mean
jaguars['defense_rating'] = jaguars_defense_mean

In [306]:
afc_south_defense = pd.concat([texans, colts, titans, jaguars])

In [307]:
##AFC WEST

In [308]:
broncosdt = broncos[broncos['Position'] == 'DT']
broncosre = broncos[broncos['Position'] == 'RE']
broncosle = broncos[broncos['Position'] == 'LE']
broncosdt['Predicted Rating'] = modeldt(broncosdt)
broncosre['Predicted Rating'] = modelre(broncosre)
broncosle['Predicted Rating'] = modelle(broncosle)
broncosdt_mean = np.mean(broncosdt['Predicted Rating'])
broncosre_mean = np.mean(broncosre['Predicted Rating'])
broncosle_mean = np.mean(broncosle['Predicted Rating'])
broncosdl_mean = np.mean([broncosdt_mean, broncosre_mean, broncosle_mean])
broncosdl_mean

72.68711666666667

In [309]:
broncosmlb = broncos[broncos['Position'] == 'MLB']
broncosrolb = broncos[broncos['Position'] == 'ROLB']
broncoslolb = broncos[broncos['Position'] == 'LOLB']
broncosmlb['Predicted Rating'] = modelmlb(broncosmlb)
broncosrolb['Predicted Rating'] = modelrolb(broncosrolb)
broncoslolb['Predicted Rating'] = modellolb(broncoslolb)
broncosmlb_mean = np.mean(broncosmlb['Predicted Rating'])
broncosrolb_mean = np.mean(broncosrolb['Predicted Rating'])
broncoslolb_mean = np.mean(broncoslolb['Predicted Rating'])
broncoslb_mean = np.mean([broncosmlb_mean, broncosrolb_mean, broncoslolb_mean])
print(broncoslb_mean, broncosmlb_mean, broncoslolb_mean, broncosrolb_mean)

72.20451666666668 69.05398333333333 72.3028 75.25676666666668

In [310]:
broncoscb = broncos[broncos['Position'] == 'CB']
broncosfs = broncos[broncos['Position'] == 'FS']
broncosss = broncos[broncos['Position'] == 'SS']
broncoscb['Predicted Rating'] = modelcb(broncoscb)
broncosss['Predicted Rating'] = modelss(broncosss)
broncosfs['Predicted Rating'] = modelfs(broncosfs)
broncosss_mean = np.mean(broncosss['Predicted Rating'])
broncoscb_mean = np.mean(broncoscb['Predicted Rating'])
broncosfs_mean = np.mean(broncosfs['Predicted Rating'])
broncossecondary_mean = np.mean([broncoscb_mean, broncosss_mean, broncosfs_mean])
print(broncossecondary_mean, broncoscb_mean, broncosfs_mean, broncosss_mean)

72.70877777777777 71.6296 72.51099999999998 73.98573333333333

In [311]:
broncos_defense_mean = np.mean([broncoslb_mean, broncosdl_mean, broncossecondary_mean])
broncos_defense_mean

72.53347037037037

In [312]:
broncos['lb_mean'] = broncoslb_mean
broncos['dl_mean'] = broncosdl_mean
broncos['secondary_mean'] = broncossecondary_mean
broncos['defense_rating'] = broncos_defense_mean

In [313]:
chargersdt = chargers[chargers['Position'] == 'DT']
chargersre = chargers[chargers['Position'] == 'RE']
chargersle = chargers[chargers['Position'] == 'LE']
chargersdt['Predicted Rating'] = modeldt(chargersdt)
chargersre['Predicted Rating'] = modelre(chargersre)
chargersle['Predicted Rating'] = modelle(chargersle)
chargersdt_mean = np.mean(chargersdt['Predicted Rating'])
chargersre_mean = np.mean(chargersre['Predicted Rating'])
chargersle_mean = np.mean(chargersle['Predicted Rating'])
chargersdl_mean = np.mean([chargersdt_mean, chargersre_mean, chargersle_mean])
chargersdl_mean

71.8425388888889

In [314]:
chargersmlb = chargers[chargers['Position'] == 'MLB']
chargersrolb = chargers[chargers['Position'] == 'ROLB']
chargerslolb = chargers[chargers['Position'] == 'LOLB']
chargersmlb['Predicted Rating'] = modelmlb(chargersmlb)
chargersrolb['Predicted Rating'] = modelrolb(chargersrolb)
chargerslolb['Predicted Rating'] = modellolb(chargerslolb)
chargersmlb_mean = np.mean(chargersmlb['Predicted Rating'])
chargersrolb_mean = np.mean(chargersrolb['Predicted Rating'])
chargerslolb_mean = np.mean(chargerslolb['Predicted Rating'])
chargerslb_mean = np.mean([chargersmlb_mean, chargersrolb_mean, chargerslolb_mean])
print(chargerslb_mean, chargersmlb_mean, chargerslolb_mean, chargersrolb_mean)

67.90785555555556 62.40293333333333 68.32393333333333 72.99669999999999

In [315]:
chargerscb = chargers[chargers['Position'] == 'CB']
chargersfs = chargers[chargers['Position'] == 'FS']
chargersss = chargers[chargers['Position'] == 'SS']
chargerscb['Predicted Rating'] = modelcb(chargerscb)
chargersss['Predicted Rating'] = modelss(chargersss)
chargersfs['Predicted Rating'] = modelfs(chargersfs)
chargersss_mean = np.mean(chargersss['Predicted Rating'])
chargerscb_mean = np.mean(chargerscb['Predicted Rating'])
chargersfs_mean = np.mean(chargersfs['Predicted Rating'])
chargerssecondary_mean = np.mean([chargerscb_mean, chargersss_mean, chargersfs_mean])
print(chargerssecondary_mean, chargerscb_mean, chargersfs_mean, chargersss_mean)

74.67312083333333 75.9570625 78.6308 69.4315

In [316]:
chargers_defense_mean = np.mean([chargerslb_mean, chargersdl_mean, chargerssecondary_mean])
chargers_defense_mean

71.4745050925926

In [317]:
chargers['lb_mean'] = chargerslb_mean
chargers['dl_mean'] = chargersdl_mean
chargers['secondary_mean'] = chargerssecondary_mean
chargers['defense_rating'] = chargers_defense_mean

In [319]:
chiefsdt = chiefs[chiefs['Position'] == 'DT']
chiefsre = chiefs[chiefs['Position'] == 'RE']
chiefsle = chiefs[chiefs['Position'] == 'LE']
chiefsdt['Predicted Rating'] = modeldt(chiefsdt)
chiefsre['Predicted Rating'] = modelre(chiefsre)
chiefsle['Predicted Rating'] = modelle(chiefsle)
chiefsdt_mean = np.mean(chiefsdt['Predicted Rating'])
chiefsre_mean = np.mean(chiefsre['Predicted Rating'])
chiefsle_mean = np.mean(chiefsle['Predicted Rating'])
chiefsdl_mean = np.mean([chiefsdt_mean, chiefsre_mean, chiefsle_mean])
chiefsdl_mean

70.49980555555555

In [320]:
chiefsmlb = chiefs[chiefs['Position'] == 'MLB']
chiefsrolb = chiefs[chiefs['Position'] == 'ROLB']
chiefslolb = chiefs[chiefs['Position'] == 'LOLB']
chiefsmlb['Predicted Rating'] = modelmlb(chiefsmlb)
chiefsrolb['Predicted Rating'] = modelrolb(chiefsrolb)
chiefslolb['Predicted Rating'] = modellolb(chiefslolb)
chiefsmlb_mean = np.mean(chiefsmlb['Predicted Rating'])
chiefsrolb_mean = np.mean(chiefsrolb['Predicted Rating'])
chiefslolb_mean = np.mean(chiefslolb['Predicted Rating'])
chiefslb_mean = np.mean([chiefsmlb_mean, chiefsrolb_mean, chiefslolb_mean])
print(chiefslb_mean, chiefsmlb_mean, chiefslolb_mean, chiefsrolb_mean)

71.56831666666666 67.33706666666666 76.52645000000001 70.84143333333333

In [321]:
chiefscb = chiefs[chiefs['Position'] == 'CB']
chiefsfs = chiefs[chiefs['Position'] == 'FS']
chiefsss = chiefs[chiefs['Position'] == 'SS']
chiefscb['Predicted Rating'] = modelcb(chiefscb)
chiefsss['Predicted Rating'] = modelss(chiefsss)
chiefsfs['Predicted Rating'] = modelfs(chiefsfs)
chiefsss_mean = np.mean(chiefsss['Predicted Rating'])
chiefscb_mean = np.mean(chiefscb['Predicted Rating'])
chiefsfs_mean = np.mean(chiefsfs['Predicted Rating'])
chiefssecondary_mean = np.mean([chiefscb_mean, chiefsss_mean, chiefsfs_mean])
print(chiefssecondary_mean, chiefscb_mean, chiefsfs_mean, chiefsss_mean)

71.7370125 69.82436249999999 69.77275 75.613925

In [328]:
chiefs_defense_mean = np.mean([chiefslb_mean, chiefsdl_mean, chiefssecondary_mean])
chiefs_defense_mean

71.26837824074073

In [329]:
chiefs['lb_mean'] = chiefslb_mean
chiefs['dl_mean'] = chiefsdl_mean
chiefs['secondary_mean'] = chiefssecondary_mean
chiefs['defense_rating'] = chiefs_defense_mean

In [323]:
raidersdt = raiders[raiders['Position'] == 'DT']
raidersre = raiders[raiders['Position'] == 'RE']
raidersle = raiders[raiders['Position'] == 'LE']
raidersdt['Predicted Rating'] = modeldt(raidersdt)
raidersre['Predicted Rating'] = modelre(raidersre)
raidersle['Predicted Rating'] = modelle(raidersle)
raidersdt_mean = np.mean(raidersdt['Predicted Rating'])
raidersre_mean = np.mean(raidersre['Predicted Rating'])
raidersle_mean = np.mean(raidersle['Predicted Rating'])
raidersdl_mean = np.mean([raidersdt_mean, raidersre_mean, raidersle_mean])
raidersdl_mean

75.40517361111111

In [324]:
raidersmlb = raiders[raiders['Position'] == 'MLB']
raidersrolb = raiders[raiders['Position'] == 'ROLB']
raiderslolb = raiders[raiders['Position'] == 'LOLB']
raidersmlb['Predicted Rating'] = modelmlb(raidersmlb)
raidersrolb['Predicted Rating'] = modelrolb(raidersrolb)
raiderslolb['Predicted Rating'] = modellolb(raiderslolb)
raidersmlb_mean = np.mean(raidersmlb['Predicted Rating'])
raidersrolb_mean = np.mean(raidersrolb['Predicted Rating'])
raiderslolb_mean = np.mean(raiderslolb['Predicted Rating'])
raiderslb_mean = np.mean([raidersmlb_mean, raidersrolb_mean, raiderslolb_mean])
print(raiderslb_mean, raidersmlb_mean, raiderslolb_mean, raidersrolb_mean)

71.73146666666666 70.21196666666665 72.41963333333332 72.5628

In [327]:
raiderscb = raiders[raiders['Position'] == 'CB']
raidersfs = raiders[raiders['Position'] == 'FS']
raidersss = raiders[raiders['Position'] == 'SS']
raiderscb['Predicted Rating'] = modelcb(raiderscb)
raidersss['Predicted Rating'] = modelss(raidersss)
raidersfs['Predicted Rating'] = modelfs(raidersfs)
raidersss_mean = np.mean(raidersss['Predicted Rating'])
raiderscb_mean = np.mean(raiderscb['Predicted Rating'])
raidersfs_mean = np.mean(raidersfs['Predicted Rating'])
raiderssecondary_mean = np.mean([raiderscb_mean, raidersss_mean, raidersfs_mean])
print(raiderssecondary_mean, raiderscb_mean, raidersfs_mean, raidersss_mean)

73.87368571428571 73.99675714285715 74.05156666666666 73.57273333333333

In [331]:
raiders_defense_mean = np.mean([raiderslb_mean, raidersdl_mean, raiderssecondary_mean])
raiders_defense_mean

73.67010866402116

In [332]:
raiders['lb_mean'] = raiderslb_mean
raiders['dl_mean'] = raidersdl_mean
raiders['secondary_mean'] = raiderssecondary_mean
raiders['defense_rating'] = raiders_defense_mean

In [333]:
afc_west_defense = pd.concat([broncos, chargers, chiefs, raiders], axis=0)

In [334]:
#AFC EAST

In [335]:
patriotsdt = patriots[patriots['Position'] == 'DT']
patriotsre = patriots[patriots['Position'] == 'RE']
patriotsle = patriots[patriots['Position'] == 'LE']
patriotsdt['Predicted Rating'] = modeldt(patriotsdt)
patriotsre['Predicted Rating'] = modelre(patriotsre)
patriotsle['Predicted Rating'] = modelle(patriotsle)
patriotsdt_mean = np.mean(patriotsdt['Predicted Rating'])
patriotsre_mean = np.mean(patriotsre['Predicted Rating'])
patriotsle_mean = np.mean(patriotsle['Predicted Rating'])
patriotsdl_mean = np.mean([patriotsdt_mean, patriotsre_mean, patriotsle_mean])
patriotsdl_mean

77.26478666666667

In [336]:
patriotsmlb = patriots[patriots['Position'] == 'MLB']
patriotsrolb = patriots[patriots['Position'] == 'ROLB']
patriotslolb = patriots[patriots['Position'] == 'LOLB']
patriotsmlb['Predicted Rating'] = modelmlb(patriotsmlb)
patriotsrolb['Predicted Rating'] = modelrolb(patriotsrolb)
patriotslolb['Predicted Rating'] = modellolb(patriotslolb)
patriotsmlb_mean = np.mean(patriotsmlb['Predicted Rating'])
patriotsrolb_mean = np.mean(patriotsrolb['Predicted Rating'])
patriotslolb_mean = np.mean(patriotslolb['Predicted Rating'])
patriotslb_mean = np.mean([patriotsmlb_mean, patriotsrolb_mean, patriotslolb_mean])
print(patriotslb_mean, patriotsmlb_mean, patriotslolb_mean, patriotsrolb_mean)

68.62867222222224 64.58715000000001 69.68130000000001 71.61756666666666

In [337]:
patriotscb = patriots[patriots['Position'] == 'CB']
patriotsfs = patriots[patriots['Position'] == 'FS']
patriotsss = patriots[patriots['Position'] == 'SS']
patriotscb['Predicted Rating'] = modelcb(patriotscb)
patriotsss['Predicted Rating'] = modelss(patriotsss)
patriotsfs['Predicted Rating'] = modelfs(patriotsfs)
patriotsss_mean = np.mean(patriotsss['Predicted Rating'])
patriotscb_mean = np.mean(patriotscb['Predicted Rating'])
patriotsfs_mean = np.mean(patriotsfs['Predicted Rating'])
patriotssecondary_mean = np.mean([patriotscb_mean, patriotsss_mean, patriotsfs_mean])
print(patriotssecondary_mean, patriotscb_mean, patriotsfs_mean, patriotsss_mean)

75.46435555555557 73.99080000000001 78.86876666666667 73.5335

In [338]:
patriots_defense_mean = np.mean([patriotslb_mean, patriotsdl_mean, patriotssecondary_mean])
patriots_defense_mean

73.78593814814816

In [339]:
patriots['lb_mean'] = patriotslb_mean
patriots['dl_mean'] = patriotsdl_mean
patriots['secondary_mean'] = patriotssecondary_mean
patriots['defense_rating'] = patriots_defense_mean

In [340]:
jetsdt = jets[jets['Position'] == 'DT']
jetsre = jets[jets['Position'] == 'RE']
jetsle = jets[jets['Position'] == 'LE']
jetsdt['Predicted Rating'] = modeldt(jetsdt)
jetsre['Predicted Rating'] = modelre(jetsre)
jetsle['Predicted Rating'] = modelle(jetsle)
jetsdt_mean = np.mean(jetsdt['Predicted Rating'])
jetsre_mean = np.mean(jetsre['Predicted Rating'])
jetsle_mean = np.mean(jetsle['Predicted Rating'])
jetsdl_mean = np.mean([jetsdt_mean, jetsre_mean, jetsle_mean])
jetsdl_mean

71.31901944444445

In [341]:
jetsmlb = jets[jets['Position'] == 'MLB']
jetsrolb = jets[jets['Position'] == 'ROLB']
jetslolb = jets[jets['Position'] == 'LOLB']
jetsmlb['Predicted Rating'] = modelmlb(jetsmlb)
jetsrolb['Predicted Rating'] = modelrolb(jetsrolb)
jetslolb['Predicted Rating'] = modellolb(jetslolb)
jetsmlb_mean = np.mean(jetsmlb['Predicted Rating'])
jetsrolb_mean = np.mean(jetsrolb['Predicted Rating'])
jetslolb_mean = np.mean(jetslolb['Predicted Rating'])
jetslb_mean = np.mean([jetsmlb_mean, jetsrolb_mean, jetslolb_mean])
print(jetslb_mean, jetsmlb_mean, jetslolb_mean, jetsrolb_mean)

72.18913333333332 74.602525 74.568 67.396875

In [342]:
jetscb = jets[jets['Position'] == 'CB']
jetsfs = jets[jets['Position'] == 'FS']
jetsss = jets[jets['Position'] == 'SS']
jetscb['Predicted Rating'] = modelcb(jetscb)
jetsss['Predicted Rating'] = modelss(jetsss)
jetsfs['Predicted Rating'] = modelfs(jetsfs)
jetsss_mean = np.mean(jetsss['Predicted Rating'])
jetscb_mean = np.mean(jetscb['Predicted Rating'])
jetsfs_mean = np.mean(jetsfs['Predicted Rating'])
jetssecondary_mean = np.mean([jetscb_mean, jetsss_mean, jetsfs_mean])
print(jetssecondary_mean, jetscb_mean, jetsfs_mean, jetsss_mean)

71.44592592592592 70.7630111111111 70.40516666666666 73.1696

In [343]:
jets_defense_mean = np.mean([jetslb_mean, jetsdl_mean, jetssecondary_mean])
jets_defense_mean

71.65135956790122

In [344]:
jets['lb_mean'] = jetslb_mean
jets['dl_mean'] = jetsdl_mean
jets['secondary_mean'] = jetssecondary_mean
jets['defense_rating'] = jets_defense_mean

In [346]:
dolphinsdt = dolphins[dolphins['Position'] == 'DT']
dolphinsre = dolphins[dolphins['Position'] == 'RE']
dolphinsle = dolphins[dolphins['Position'] == 'LE']
dolphinsdt['Predicted Rating'] = modeldt(dolphinsdt)
dolphinsre['Predicted Rating'] = modelre(dolphinsre)
dolphinsle['Predicted Rating'] = modelle(dolphinsle)
dolphinsdt_mean = np.mean(dolphinsdt['Predicted Rating'])
dolphinsre_mean = np.mean(dolphinsre['Predicted Rating'])
dolphinsle_mean = np.mean(dolphinsle['Predicted Rating'])
dolphinsdl_mean = np.mean([dolphinsdt_mean, dolphinsre_mean, dolphinsle_mean])
dolphinsdl_mean

71.95788222222222

In [347]:
dolphinsmlb = dolphins[dolphins['Position'] == 'MLB']
dolphinsrolb = dolphins[dolphins['Position'] == 'ROLB']
dolphinslolb = dolphins[dolphins['Position'] == 'LOLB']
dolphinsmlb['Predicted Rating'] = modelmlb(dolphinsmlb)
dolphinsrolb['Predicted Rating'] = modelrolb(dolphinsrolb)
dolphinslolb['Predicted Rating'] = modellolb(dolphinslolb)
dolphinsmlb_mean = np.mean(dolphinsmlb['Predicted Rating'])
dolphinsrolb_mean = np.mean(dolphinsrolb['Predicted Rating'])
dolphinslolb_mean = np.mean(dolphinslolb['Predicted Rating'])
dolphinslb_mean = np.mean([dolphinsmlb_mean, dolphinsrolb_mean, dolphinslolb_mean])
print(dolphinslb_mean, dolphinsmlb_mean, dolphinslolb_mean, dolphinsrolb_mean)

68.13211388888888 68.02736666666665 68.13165000000001 68.237325

In [348]:
dolphinscb = dolphins[dolphins['Position'] == 'CB']
dolphinsfs = dolphins[dolphins['Position'] == 'FS']
dolphinsss = dolphins[dolphins['Position'] == 'SS']
dolphinscb['Predicted Rating'] = modelcb(dolphinscb)
dolphinsss['Predicted Rating'] = modelss(dolphinsss)
dolphinsfs['Predicted Rating'] = modelfs(dolphinsfs)
dolphinsss_mean = np.mean(dolphinsss['Predicted Rating'])
dolphinscb_mean = np.mean(dolphinscb['Predicted Rating'])
dolphinsfs_mean = np.mean(dolphinsfs['Predicted Rating'])
dolphinssecondary_mean = np.mean([dolphinscb_mean, dolphinsss_mean, dolphinsfs_mean])
print(dolphinssecondary_mean, dolphinscb_mean, dolphinsfs_mean, dolphinsss_mean)

71.80733222222223 70.43923000000001 72.0608 72.92196666666666

In [349]:
dolphins_defense_mean = np.mean([dolphinslb_mean, dolphinsdl_mean, dolphinssecondary_mean])
dolphins_defense_mean

70.63244277777778

In [350]:
dolphins['lb_mean'] = dolphinslb_mean
dolphins['dl_mean'] = dolphinsdl_mean
dolphins['secondary_mean'] = dolphinssecondary_mean
dolphins['defense_rating'] = dolphins_defense_mean

In [351]:
billsdt = bills[bills['Position'] == 'DT']
billsre = bills[bills['Position'] == 'RE']
billsle = bills[bills['Position'] == 'LE']
billsdt['Predicted Rating'] = modeldt(billsdt)
billsre['Predicted Rating'] = modelre(billsre)
billsle['Predicted Rating'] = modelle(billsle)
billsdt_mean = np.mean(billsdt['Predicted Rating'])
billsre_mean = np.mean(billsre['Predicted Rating'])
billsle_mean = np.mean(billsle['Predicted Rating'])
billsdl_mean = np.mean([billsdt_mean, billsre_mean, billsle_mean])
billsdl_mean

72.11118333333333

In [352]:
billsmlb = bills[bills['Position'] == 'MLB']
billsrolb = bills[bills['Position'] == 'ROLB']
billslolb = bills[bills['Position'] == 'LOLB']
billsmlb['Predicted Rating'] = modelmlb(billsmlb)
billsrolb['Predicted Rating'] = modelrolb(billsrolb)
billslolb['Predicted Rating'] = modellolb(billslolb)
billsmlb_mean = np.mean(billsmlb['Predicted Rating'])
billsrolb_mean = np.mean(billsrolb['Predicted Rating'])
billslolb_mean = np.mean(billslolb['Predicted Rating'])
billslb_mean = np.mean([billsmlb_mean, billsrolb_mean, billslolb_mean])
print(billslb_mean, billsmlb_mean, billslolb_mean, billsrolb_mean)

70.62671666666667 65.45586666666667 72.70985 73.71443333333333

In [353]:
billscb = bills[bills['Position'] == 'CB']
billsfs = bills[bills['Position'] == 'FS']
billsss = bills[bills['Position'] == 'SS']
billscb['Predicted Rating'] = modelcb(billscb)
billsss['Predicted Rating'] = modelss(billsss)
billsfs['Predicted Rating'] = modelfs(billsfs)
billsss_mean = np.mean(billsss['Predicted Rating'])
billscb_mean = np.mean(billscb['Predicted Rating'])
billsfs_mean = np.mean(billsfs['Predicted Rating'])
billssecondary_mean = np.mean([billscb_mean, billsss_mean, billsfs_mean])
print(billssecondary_mean, billscb_mean, billsfs_mean, billsss_mean)

72.60385000000001 71.9056 73.5795 72.32645

In [354]:
afc_east_defense = pd.concat([patriots, jets, dolphins, bills], axis=0)

In [356]:
afc_defense = pd.concat([afc_east_defense, afc_west_defense, afc_north_defense, afc_south_defense], axis=0)

In [357]:
defense = pd.concat([afc_defense, nfc_defense], axis=0)

In [370]:
defense.shape

(2368, 71)

In [371]:
defense.to_csv('C:\\Users\\tilleymusprime\\Desktop\\defense.csv')

In [120]:
##NFC Offense

In [369]:
cowboyslt = cowboys[cowboys['Position'] == 'LT']
cowboyslg = cowboys[cowboys['Position'] == 'LG']
cowboysc = cowboys[cowboys['Position'] == 'C']
cowboysrg = cowboys[cowboys['Position'] == 'RG']
cowboysrt = cowboys[cowboys['Position'] == 'RT']
cowboyslt['Predicted Rating'] = modellt(cowboyslt)
cowboyslg['Predicted Rating'] = modellg(cowboyslg)
cowboysc['Predicted Rating'] = modelc(cowboysc)
cowboysrg['Predicted Rating'] = modellt(cowboysrg)
cowboysrt['Predicted Rating'] = modelrt(cowboysrt)
cowboyslt_mean = np.mean(cowboyslt['Predicted Rating'])
cowboyslg_mean = np.mean(cowboyslg['Predicted Rating'])
cowboysc_mean = np.mean(cowboysc['Predicted Rating'])
cowboysrg_mean = np.mean(cowboysrg['Predicted Rating'])
cowboysrt_mean = np.mean(cowboysrt['Predicted Rating'])
cowboyslinemean = np.mean([cowboyslt_mean, cowboyslg_mean, cowboysc_mean, cowboysrg_mean, cowboysrt_mean])
cowboyslinemean

73.81553666666667

In [ ]:
cowboysqb = cowboys[cowboys['Position'] == 'QB']
cowboyshb = cowboys[cowboys['Position'] == 'HB']
cowboyswr = cowboys[cowboys['Position'] == 'WR']
cowboyste = cowboys[cowboys['Position'] == 'TE']
cowboysqb['Predicted Rating'] = modelqb(cowboysqb)
cowboyshb['Predicted Rating'] = modelhb(cowboyshb)
cowboyswr['Predicted Rating'] = modelwr(cowboyswr)
cowboyste['Predicted Rating'] = modelte(cowboyste)
cowboysqb_mean = np.mean(cowboysqb['Predicted Rating'])
cowboyshb_mean = np.mean(cowboyshb['Predicted Rating'])
cowboyste_mean = np.mean(cowboysqte['Predicted Rating'])
cowboyswr_mean = np.mean(cowboyswr['Predicted Rating'])
cowboyspass_mean = np.mean([cowboyswr_mean, cowboyste_mean, cowboys_mean])
print(billssecondary_mean, billscb_mean, billsfs_mean, billsss_mean)

In [122]:
def cleaner(a, b, c, d):
    x = a[a['Position'] == b]
    x[b + 'Starter Overall'] = x['Overall'].max()
    x[b+'Average Overall'] = np.mean(x['Overall'])
    x[b + 'Starter' + c] = x['Pass Block'].max()
    x[b +'Average'+ c] = np.mean(x['Pass Block'])
    x[b+'Starter'+d] = x['Run Block'].max()
    x[b+'Average'+ d] = np.mean(x['Run Block'])
    return x

In [366]:
def cleaner1(data, team, pos, att1, att2):
    y = data[data['Team'] == team]
    x = y[y['Position'] == pos]
    x1_max = x['Overall'].max()
    x[pos + 'Starter Overall'] = x1_max
    x2_mean = np.mean(x['Overall']) 
    x[pos+'Average Overall'] = x2_mean
    x3_max = x[att1].max()
    x[pos + 'Starter' + att1] = x3_max
    x4_mean = np.mean(x[att1])
    x[pos +'Average'+ att1] = x4_mean
    x5_mean = np.mean(x[att2])
    x[pos+'Starter'+att2] = x5_mean
    x6_mean = np.mean(x[att2])
    x[pos+'Average'+ att2] =x6_mean
    x[pos + 'Starter Overall'] = x[pos + 'Starter Overall'].fillna(x1_max)
    x[pos+'Average Overall'] = x[pos+'Average Overall'].fillna(x2_mean)
    x[pos + 'Starter' + att1]=  x[pos + 'Starter' + att1].fillna(x3_max)
    x[pos +'Average'+ att1] = x[pos +'Average'+ att1].fillna(x4_mean)
    x[pos+'Starter'+att2]= x[pos+'Starter'+att2].fillna(x5_mean)
    x[pos+'Average'+ att2] = x[pos+'Average'+ att2].fillna(x6_mean)
    return x

In [367]:
cowboysqb = cleaner1(df, cowboys, 'QB', 'Throw Accuracy Mid', 'Awareness')
cowboysqb.shape

C:\Users\tilleymusprime\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:3140: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

(0, 73)

In [363]:
def nafill(data, column, cleanervalues):
    data[column] = data[column].fillna(cleanervalue)
    return data

,Team,Jersey #,Name,Age,Position,Overall,Awareness,Agility,Speed,Acceleration,...,Birthdate,Years Pro,Handedness,College,Total Salary,Signing Bonus,lb_mean,dl_mean,secondary_mean,defense_rating
7,Cowboys,72,Travis Frederick,27,C,96,98,69,56,80,...,1991-03-18 00:00:00,5,Right,Wisconsin,39190000,6370000,70.262983,73.217870,72.218303,71.899719
26,Eagles,62,Jason Kelce,30,C,92,97,71,74,83,...,1987-11-05 00:00:00,7,Right,Cincinnati,34500000,6000000,70.664328,73.994096,77.185263,73.947896
49,Falcons,51,Alex Mack,32,C,90,93,61,63,79,...,1985-11-19 00:00:00,9,Right,California,44000000,12500000,66.770711,70.954488,74.760750,70.828650
183,Saints,60,Max Unger,32,C,82,95,59,60,78,...,1986-04-14 00:00:00,9,Right,Oregon,14300000,7000000,76.013789,73.280574,71.878893,73.724419
220,49ers,58,Weston Richburg,27,C,81,89,66,68,80,...,1991-07-09 00:00:00,4,Right,Colorado St.,38200000,9300000,70.278342,71.546803,70.240746,70.688630
297,Buccaneers,66,Ryan Jensen,27,C,78,85,64,62,76,...,1991-05-27 00:00:00,5,Right,CSU-Pueblo,32000000,10000000,70.491456,72.831000,69.694116,71.005524
300,Seahawks,68,Justin Britt,27,C,78,90,65,66,82,...,1991-05-29 00:00:00,4,Right,Missouri,18400000,6500000,77.051311,71.856000,73.472171,74.126494
306,Rams,65,John Sullivan,33,C,78,87,61,56,76,...,1985-08-08 00:00:00,10,Right,Notre Dame,8375000,2000000,67.010120,74.587247,73.904963,71.834110
323,Packers,63,Corey Linsley,27,C,77,88,66,71,80,...,1991-07-27 00:00:00,4,Right,Ohio State,17450000,6000000,69.901153,72.562383,69.370878,70.611471
360,Lions,77,Frank Ragnow,22,C,76,67,58,73,82,...,1996-05-17 00:00:00,0,Right,Arkansas,11780374,6640000,70.211000,70.610332,72.287040,71.036124
365,Panthers,67,Ryan Kalil,33,C,76,90,67,69,80,...,1985-03-29 00:00:00,11,Right,USC,20000000,5000000,76.358925,72.180656,70.464562,73.001381
405,Vikings,65,Pat Elflein,24,C,75,82,60,62,76,...,1994-07-06 00:00:00,1,Right,Ohio State,3793000,940000,70.197544,72.082158,75.799479,72.693061
439,Bears,68,James Daniels,20,C,74,70,73,61,75,...,1997-09-13 00:00:00,0,Right,Iowa,6950270,3130000,70.830300,71.524031,71.589930,71.314753
455,Cardinals,53,A.Q. Shipley,32,C,74,86,58,62,80,...,1986-05-22 00:00:00,8,Right,Penn State,2275000,720000,68.131383,70.782495,69.595326,69.503068
508,Giants,69,Brett Jones,27,C,72,68,58,68,74,...,1991-07-29 00:00:00,4,Right,Regina,2914000,0,68.318783,71.585678,70.630069,70.178177
566,Lions,60,Graham Glasgow,26,C,71,77,56,68,81,...,1992-08-19 00:00:00,2,Right,Michigan,3100000,640000,70.211000,70.610332,72.287040,71.036124
640,Panthers,69,Tyler Larsen,27,C,70,70,54,66,71,...,1991-07-08 00:00:00,3,Right,Utah State,630000,0,76.358925,72.180656,70.464562,73.001381
716,49ers,68,Mike Person,30,C,69,69,58,67,80,...,1988-06-17 00:00:00,7,Right,Montana State,915000,0,70.278342,71.546803,70.240746,70.688630
742,Redskins,73,Chase Roullier,25,C,68,68,63,59,74,...,1993-08-23 00:00:00,1,Right,Wyoming,2500000,140000,72.928878,69.883439,70.156925,70.989747
841,Cardinals,64,Mason Cole,22,C,67,59,58,61,77,...,1996-03-28 00:00:00,0,Right,Michigan,3325109,760000,68.131383,70.782495,69.595326,69.503068
886,Saints,61,Josh LeRibeus,29,C,66,69,60,60,78,...,1989-07-02 00:00:00,6,Right,SMU,790000,0,76.013789,73.280574,71.878893,73.724419
892,Rams,55,Brian Allen,22,C,66,58,58,62,76,...,1995-10-11 00:00:00,0,Right,Michigan St.,3101953,680000,67.010120,74.587247,73.904963,71.834110
911,Eagles,73,Isaac Seumalo,24,C,65,68,72,66,83,...,1993-10-29 00:00:00,2,Right,Oregon State,3333000,760000,70.664328,73.994096,77.185263,73.947896
937,Falcons,64,Sean Harlow,23,C,65,62,63,67,80,...,1995-03-28 00:00:00,1,Right,Oregon State,2904000,540000,66.770711,70.954488,74.760750,70.828650
953,Seahawks,53,Joey Hunt,24,C,65,63,68,63,76,...,1994-02-22 00:00:00,2,Right,TCU,630000,0,77.051311,71.856000,73.472171,74.126494
969,Cowboys,73,Joe Looney,28,C,64,66,59,70,74,...,1990-08-31 00:00:00,6,Right,Wake Forest,1850000,250000,70.262983,73.217870,72.218303,71.899719
987,Bears,55,Hroniss Grasu,27,C,64,74,68,71,84,...,1991-08-12 00:00:00,3,Right,Oregon,3000000,1000000,70.830300,71.524031,71.589930,71.314753
1033,Bears,64,Eric Kush,28,C,63,64,69,69,82,...,1989-09-09 00:00:00,5,Right,California,1240000,500000,70.830300,71.524031,71.589930,71.314753
1059,Giants,75,Jon Halapio,27,C,62,59,52,60,79,...,1991-06-23 00:00:00,4,Right,Florida,555000,0,68.318783,71.585678,70.630069,70.178177
1071,Panthers,61,Kyle Friend,24,C,62,43,68,69,84,...,1994-04-03 00:00:00,2,Right,Temple,480000,0,76.358925,72.180656,70.464562,73.001381
1077,Saints,64,Will Clapp,21,C,62,62,49,59,76,...,1996-09-19 00:00:00,0,Right,LSU,2488142,70000,76.013789,73.280574,71.878893,73.724419
1095,Packers,54,Dillon Day,26,C,61,62,56,64,82,...,1991-10-17 00:00:00,2,Right,Mississippi St.,555000,0,69.901153,72.562383,69.370878,70.611471
1111,Saints,63,Cameron Tom,23,C,61,48,57,76,83,...,1995-07-21 00:00:00,1,Right,Southern Miss,555000,0,76.013789,73.280574,71.878893,73.724419
1128,Redskins,74,Demetrius Rhaney,26,C,60,50,71,75,82,...,1992-06-22 00:00:00,4,Right,Tennessee St.,705000,0,72.928878,69.883439,70.156925,70.989747
1131,Vikings,67,Cornelius Edison,25,C,60,49,56,60,73,...,1993-07-10 00:00:00,2,Right,Portland St.,630000,0,70.197544,72.082158,75.799479,72.693061
1141,Cardinals,66,Josh Allen,26,C,60,47,67,66,77,...,1991-10-30 00:00:00,4,Right,UL Monroe,1350000,0,68.131383,70.782495,69.595326,69.503068
1144,Cardinals,62,Daniel Munyer,26,C,60,49,69,64,81,...,1992-03-04 00:00:00,3,Right,Colorado,480000,0,68.131383,70.782495,69.595326,69.503068
1149,Eagles,64,Jon Toth,24,C,59,60,50,55,76,...,1994-02-11 00:00:00,1,Right,Kentucky,1050000,0,70.664328,73.994096,77.185263,73.947896
1159,Rams,72,Aaron Neary,25,C,59,57,72,67,81,...,1992-11-15 00:00:00,2,Right,Eastern Wash.,555000,0,67.010120,74.587247,73.904963,71.834110
1165,Falcons,61,J.C. Hassenauer,22,C,57,50,55,65,78,...,1995-09-15 00:00:00,0,Right,Alabama,1710000,0,66.770711,70.954488,74.760750,70.828650
1169,Redskins,57,Nick Sundberg,31,C,54,65,69,68,70,...,1987-07-29 00:00:00,8,Right,California,3900000,100000,72.928878,69.883439,70.156925,70.989747

In [186]:
##NFC EAST O-Lines
cowboysline.columns.values

array(['Acceleration', 'Age', 'Agility', 'Awareness', 'BC Vision',
       'Birthdate', 'Block Shedding', 'Break Sack', 'Break Tackle',
       'CAverage Overall', 'CAveragePass Block', 'CAverageRun Block',
       'CStarter Overall', 'CStarterPass Block', 'CStarterRun Block',
       'Carrying', 'Catch', 'Catch in Traffic', 'College',
       'Deep Route Running', 'Elusiveness', 'Finesse Moves', 'Handedness',
       'Height', 'Hit Power', 'Impact Blocking', 'Injury', 'Jersey #',
       'Juke Move', 'Jumping', 'Kick Accuracy', 'Kick Power',
       'Kick Return', 'LGAverage Overall', 'LGAveragePass Block',
       'LGAverageRun Block', 'LGStarter Overall', 'LGStarterPass Block',
       'LGStarterRun Block', 'LTAverage Overall', 'LTAveragePass Block',
       'LTAverageRun Block', 'LTStarter Overall', 'LTStarterPass Block',
       'LTStarterRun Block', 'Lead Block', 'Man Coverage',
       'Medium Route Running', 'Name', 'Overall', 'Pass Block',
       'Pass Block Finesse', 'Pass Block Power', 'Play Recognition',
       'Playaction', 'Position', 'Power Moves', 'Press', 'Pursuit',
       'RGAverage Overall', 'RGAveragePass Block', 'RGAverageRun Block',
       'RGStarter Overall', 'RGStarterPass Block', 'RGStarterRun Block',
       'RTAverage Overall', 'RTAveragePass Block', 'RTAverageRun Block',
       'RTStarter Overall', 'RTStarterPass Block', 'RTStarterRun Block',
       'Release', 'Run Block', 'Run Block Finesse', 'Run Block Power',
       'Short Route Runing', 'Signing Bonus', 'Spec. Catch', 'Speed',
       'Spin Move', 'Stamina', 'Stiff Arm', 'Strength', 'Tackle', 'Team',
       'Throw Accuracy Deep', 'Throw Accuracy Mid',
       'Throw Accuracy Short', 'Throw Power', 'Throw Under Pressure',
       'Throw on the Run', 'Total Salary', 'Toughness', 'Trucking',
       'Weight', 'Years Pro', 'Zone Coverage', 'defense_rating',
       'dl_mean', 'lb_mean', 'secondary_mean'], dtype=object)

In [190]:
cowboysline.shape

(12, 101)

In [192]:
def cleaner(a, b, c, d):
    x = a[a['Position'] == b]
    x[b + 'Starter Overall'] = x['Overall'].max()
    x[b+'Average Overall'] = np.mean(x['Overall'])
    x[b + 'Starter' + c] = x[c].max()
    x[b +'Average'+ c] = np.mean(x[c])
    x[b+'Starter'+d] = x[d].max()
    x[b+'Average'+ d] = np.mean(x[d])
    return x

In [191]:
def nafill(data, column, cleanervalues):
    data[column] = data[column].fillna(cleanervalue)
    return data

In [182]:
cowboyslt = cleaner(cowboys, 'LT', 'Pass Block', 'Run Block')
cowboyslg = cleaner(cowboys, 'LG', 'Pass Block', 'Run Block')
cowboysc = cleaner(cowboys, 'C', 'Pass Block', 'Run Block')
cowboysrg = cleaner(cowboys, 'RG', 'Pass Block', 'Run Block')
cowboysrt = cleaner(cowboys, 'RT', 'Pass Block', 'Run Block')
cowboysline = pd.concat([cowboyslt, cowboyslg, cowboysc, cowboysrg, cowboysrt])
cowboysline = nafill(cowboysline, cowboysline[''])
cowboysline['LGAveragePass Block'] = cowboysline['LGAveragePass Block'].fillna()

Acceleration             0
Age                      0
Agility                  0
Awareness                0
BC Vision                0
Birthdate                0
Block Shedding           0
Break Sack               0
Break Tackle             0
CAverage Overall        10
CAveragePass Block      10
CAverageRun Block       10
CStarter Overall        10
CStarterPass Block      10
CStarterRun Block       10
Carrying                 0
Catch                    0
Catch in Traffic         0
College                  0
Deep Route Running       0
Elusiveness              0
Finesse Moves            0
Handedness               0
Height                   0
Hit Power                0
Impact Blocking          0
Injury                   0
Jersey #                 0
Juke Move                0
Jumping                  0
                        ..
Release                  0
Run Block                0
Run Block Finesse        0
Run Block Power          0
Short Route Runing       0
Signing Bonus            0
Spec. Catch              0
Speed                    0
Spin Move                0
Stamina                  0
Stiff Arm                0
Strength                 0
Tackle                   0
Team                     0
Throw Accuracy Deep      0
Throw Accuracy Mid       0
Throw Accuracy Short     0
Throw Power              0
Throw Under Pressure     0
Throw on the Run         0
Total Salary             0
Toughness                0
Trucking                 0
Weight                   0
Years Pro                0
Zone Coverage            0
defense_rating           0
dl_mean                  0
lb_mean                  0
secondary_mean           0
Length: 101, dtype: int64

In [181]:
eagleslt = cleaner(eagles, 'LT', 'Pass Block', 'Run Block')
eagleslg = cleaner(eagles, 'LG', 'Pass Block', 'Run Block')
eaglesc = cleaner(eagles, 'C', 'Pass Block', 'Run Block')
eaglesrg = cleaner(eagles, 'RG', 'Pass Block', 'Run Block')
eaglesrt = cleaner(eagles, 'RT', 'Pass Block', 'Run Block')
eaglesline = pd.concat([eagleslt, eagleslg, eaglesc, eaglesrg, eaglesrt])
eaglesline

,Acceleration,Age,Agility,Awareness,BC Vision,Birthdate,Block Shedding,Break Sack,Break Tackle,CAverage Overall,...,Total Salary,Toughness,Trucking,Weight,Years Pro,Zone Coverage,defense_rating,dl_mean,lb_mean,secondary_mean
63,74,36,64,97,10,1982-01-22 00:00:00,43,12,9,NaN,...,30500000,91,10,328,14,12,73.947896,73.994096,70.664328,77.185263
1196,80,25,69,77,25,1993-06-16 00:00:00,40,12,8,NaN,...,2560000,88,29,320,2,12,73.947896,73.994096,70.664328,77.185263
2175,74,21,69,46,62,1997-03-31 00:00:00,36,12,43,NaN,...,2504395,93,74,346,0,17,73.947896,73.994096,70.664328,77.185263
2176,78,21,39,53,10,1996-09-19 00:00:00,20,12,8,NaN,...,1710000,82,25,317,0,15,73.947896,73.994096,70.664328,77.185263
527,77,29,64,84,10,1989-03-22 00:00:00,16,12,8,NaN,...,5250000,94,10,305,7,13,73.947896,73.994096,70.664328,77.185263
1330,77,26,64,76,15,1991-09-14 00:00:00,25,12,5,NaN,...,2000000,94,40,323,5,15,73.947896,73.994096,70.664328,77.185263
2100,76,23,59,57,10,1995-01-07 00:00:00,25,12,5,NaN,...,1665000,82,25,325,0,13,73.947896,73.994096,70.664328,77.185263
48,83,30,71,97,10,1987-11-05 00:00:00,55,12,14,72.0,...,34500000,65,10,295,7,35,73.947896,73.994096,70.664328,77.185263
1932,83,24,72,68,10,1993-10-29 00:00:00,35,12,8,72.0,...,3333000,81,20,303,2,20,73.947896,73.994096,70.664328,77.185263
2303,76,24,50,60,10,1994-02-11 00:00:00,32,19,19,72.0,...,1050000,86,10,306,1,19,73.947896,73.994096,70.664328,77.185263
37,83,29,58,89,10,1989-08-19 00:00:00,30,12,5,NaN,...,15790000,78,30,335,6,12,73.947896,73.994096,70.664328,77.185263
1700,70,23,55,54,12,1994-12-16 00:00:00,22,12,18,NaN,...,2547787,85,24,338,0,12,73.947896,73.994096,70.664328,77.185263
2225,78,25,62,45,10,1992-10-29 00:00:00,20,12,5,NaN,...,555000,81,25,321,2,15,73.947896,73.994096,70.664328,77.185263
61,87,28,77,94,60,1990-05-08 00:00:00,56,34,30,NaN,...,28790000,85,65,317,5,20,73.947896,73.994096,70.664328,77.185263
1927,87,27,72,62,45,1991-02-22 00:00:00,67,12,12,NaN,...,630000,85,52,305,4,35,73.947896,73.994096,70.664328,77.185263

In [170]:
giantslt = cleaner(giants, 'LT', 'Pass Block', 'Run Block')
giantslg = cleaner(giants, 'LG', 'Pass Block', 'Run Block')
giantsc = cleaner(giants, 'C', 'Pass Block', 'Run Block')
giantsrg = cleaner(giants, 'RG', 'Pass Block', 'Run Block')
giantsrt = cleaner(giants, 'RT', 'Pass Block', 'Run Block')
giantsline = pd.concat([giantslt, giantslg, giantsc, giantsrg, giantsrt])

In [171]:
redskinslt = cleaner(redskins, 'LT', 'Pass Block', 'Run Block')
redskinslg = cleaner(redskins, 'LG', 'Pass Block', 'Run Block')
redskinsc = cleaner(redskins, 'C', 'Pass Block', 'Run Block')
redskinsrg = cleaner(redskins, 'RG', 'Pass Block', 'Run Block')
redskinsrt = cleaner(redskins, 'RT', 'Pass Block', 'Run Block')
redskinsline = pd.concat([redskinslt, redskinslg, redskinsc, redskinsrg, redskinsrt])

In [153]:
#NFC WEST O-Lines

In [154]:
cardinalslt = cleaner(cardinals, 'LT', 'Pass Block', 'Run Block')
cardinalslg = cleaner(cardinals, 'LG', 'Pass Block', 'Run Block')
cardinalsc = cleaner(cardinals, 'C', 'Pass Block', 'Run Block')
cardinalsrg = cleaner(cardinals, 'RG', 'Pass Block', 'Run Block')
cardinalsrt = cleaner(cardinals, 'RT', 'Pass Block', 'Run Block')
cardinalsline = pd.concat([cardinalslt, cardinalslg, cardinalsc, cardinalsrg, cardinalsrt])

In [155]:
ninerslt = cleaner(niners, 'LT', 'Pass Block', 'Run Block')
ninerslg = cleaner(niners, 'LG', 'Pass Block', 'Run Block')
ninersc = cleaner(niners, 'C', 'Pass Block', 'Run Block')
ninersrg = cleaner(niners, 'RG', 'Pass Block', 'Run Block')
ninersrt = cleaner(niners, 'RT', 'Pass Block', 'Run Block')
ninersline = pd.concat([ninerslt, ninerslg, ninersc, ninersrg, ninersrt])

In [156]:
ramslt = cleaner(rams, 'LT', 'Pass Block', 'Run Block')
ramslg = cleaner(rams, 'LG', 'Pass Block', 'Run Block')
ramsc = cleaner(rams, 'C', 'Pass Block', 'Run Block')
ramsrg = cleaner(rams, 'RG', 'Pass Block', 'Run Block')
ramsrt = cleaner(rams, 'RT', 'Pass Block', 'Run Block')
ramsline = pd.concat([ramslt, ramslg, ramsc, ramsrg, ramsrt])

In [157]:
seahawkslt = cleaner(seahawks, 'LT', 'Pass Block', 'Run Block')
seahawkslg = cleaner(seahawks, 'LG', 'Pass Block', 'Run Block')
seahawksc = cleaner(seahawks, 'C', 'Pass Block', 'Run Block')
seahawksrg = cleaner(seahawks, 'RG', 'Pass Block', 'Run Block')
seahawksrt = cleaner(seahawks, 'RT', 'Pass Block', 'Run Block')
seahawksline = pd.concat([seahawkslt, seahawkslg, seahawksc, seahawksrg, seahawksrt])

In [158]:
##NFC NORTH O-Lines

In [159]:
bearslt = cleaner(bears, 'LT', 'Pass Block', 'Run Block')
bearslg = cleaner(bears, 'LG', 'Pass Block', 'Run Block')
bearsc = cleaner(bears, 'C', 'Pass Block', 'Run Block')
bearsrg = cleaner(bears, 'RG', 'Pass Block', 'Run Block')
bearsrt = cleaner(bears, 'RT', 'Pass Block', 'Run Block')
bearsline = pd.concat([bearslt, bearslg, bearsc, bearsrg, bearsrt])

In [160]:
lionslt = cleaner(lions, 'LT', 'Pass Block', 'Run Block')
lionslg = cleaner(lions, 'LG', 'Pass Block', 'Run Block')
lionsc = cleaner(lions, 'C', 'Pass Block', 'Run Block')
lionsrg = cleaner(lions, 'RG', 'Pass Block', 'Run Block')
lionsrt = cleaner(lions, 'RT', 'Pass Block', 'Run Block')
lionsline = pd.concat([lionslt, lionslg, lionsc, lionsrg, lionsrt])

In [161]:
packerslt = cleaner(packers, 'LT', 'Pass Block', 'Run Block')
packerslg = cleaner(packers, 'LG', 'Pass Block', 'Run Block')
packersc = cleaner(packers, 'C', 'Pass Block', 'Run Block')
packersrg = cleaner(packers, 'RG', 'Pass Block', 'Run Block')
packersrt = cleaner(packers, 'RT', 'Pass Block', 'Run Block')
packersline = pd.concat([packerslt, packerslg, packersc, packersrg, packersrt])

In [162]:
vikingslt = cleaner(vikings, 'LT', 'Pass Block', 'Run Block')
vikingslg = cleaner(vikings, 'LG', 'Pass Block', 'Run Block')
vikingsc = cleaner(vikings, 'C', 'Pass Block', 'Run Block')
vikingsrg = cleaner(vikings, 'RG', 'Pass Block', 'Run Block')
vikingsrt = cleaner(vikings, 'RT', 'Pass Block', 'Run Block')
vikingsline = pd.concat([vikingslt, vikingslg, vikingsc, vikingsrg, vikingsrt])

In [163]:
#NFC SOUTH O-Lines

In [164]:
buccaneerslt = cleaner(buccaneers, 'LT', 'Pass Block', 'Run Block')
buccaneerslg = cleaner(buccaneers, 'LG', 'Pass Block', 'Run Block')
buccaneersc = cleaner(buccaneers, 'C', 'Pass Block', 'Run Block')
buccaneersrg = cleaner(buccaneers, 'RG', 'Pass Block', 'Run Block')
buccaneersrt = cleaner(buccaneers, 'RT', 'Pass Block', 'Run Block')
buccaneersline = pd.concat([buccaneerslt, buccaneerslg, buccaneersc, buccaneersrg, buccaneersrt])

In [165]:
falconslt = cleaner(falcons, 'LT', 'Pass Block', 'Run Block')
falconslg = cleaner(falcons, 'LG', 'Pass Block', 'Run Block')
falconsc = cleaner(falcons, 'C', 'Pass Block', 'Run Block')
falconsrg = cleaner(falcons, 'RG', 'Pass Block', 'Run Block')
falconsrt = cleaner(falcons, 'RT', 'Pass Block', 'Run Block')
falconsline = pd.concat([falconslt, falconslg, falconsc, falconsrg, falconsrt])

In [166]:
pantherslt = cleaner(panthers, 'LT', 'Pass Block', 'Run Block')
pantherslg = cleaner(panthers, 'LG', 'Pass Block', 'Run Block')
panthersc = cleaner(panthers, 'C', 'Pass Block', 'Run Block')
panthersrg = cleaner(panthers, 'RG', 'Pass Block', 'Run Block')
panthersrt = cleaner(panthers, 'RT', 'Pass Block', 'Run Block')
panthersline = pd.concat([pantherslt, pantherslg, panthersc, panthersrg, panthersrt])

In [167]:
saintslt = cleaner(saints, 'LT', 'Pass Block', 'Run Block')
saintslg = cleaner(saints, 'LG', 'Pass Block', 'Run Block')
saintsc = cleaner(saints, 'C', 'Pass Block', 'Run Block')
saintsrg = cleaner(saints, 'RG', 'Pass Block', 'Run Block')
saintsrt = cleaner(saints, 'RT', 'Pass Block', 'Run Block')
saintsline = pd.concat([saintslt, saintslg, saintsc, saintsrg, saintsrt])

In [172]:
nfc_olines = pd.concat([cowboysline, eaglesline, giantsline, redskinsline, ninersline, cardinalsline, ramsline, seahawksline,
                        bearsline, lionsline, packersline, vikingsline, buccaneersline, falconsline,
                        panthers, saints], axis = 0)
nfc_olines

,Acceleration,Age,Agility,Awareness,BC Vision,Birthdate,Block Shedding,Break Sack,Break Tackle,CAverage Overall,...,Total Salary,Toughness,Trucking,Weight,Years Pro,Zone Coverage,defense_rating,dl_mean,lb_mean,secondary_mean
24,85,27,78,97,10,1990-12-12 00:00:00,40,12,11,NaN,...,71600000,94,10,320,7,12,71.899719,73.217870,70.262983,72.218303
2101,80,26,64,75,10,1992-01-01 00:00:00,40,12,5,NaN,...,2400000,85,28,318,3,20,71.899719,73.217870,70.262983,72.218303
748,83,21,60,67,16,1997-05-12 00:00:00,35,12,20,NaN,...,5489062,88,10,298,0,13,71.899719,73.217870,70.262983,72.218303
1930,78,24,66,72,10,1993-11-29 00:00:00,20,12,7,NaN,...,708000,89,20,310,4,15,71.899719,73.217870,70.262983,72.218303
2099,78,27,56,47,10,1991-01-04 00:00:00,40,12,6,NaN,...,555000,75,25,315,4,12,71.899719,73.217870,70.262983,72.218303
16,80,27,69,98,15,1991-03-18 00:00:00,10,12,5,80.0,...,39190000,98,25,318,5,12,71.899719,73.217870,70.262983,72.218303
2030,74,28,59,66,10,1990-08-31 00:00:00,25,12,6,80.0,...,1850000,90,16,315,6,18,71.899719,73.217870,70.262983,72.218303
18,81,27,65,93,10,1990-11-20 00:00:00,27,12,5,NaN,...,72341000,88,24,310,4,11,71.899719,73.217870,70.262983,72.218303
1929,72,23,55,61,20,1995-06-27 00:00:00,31,12,9,NaN,...,555000,84,38,325,1,12,71.899719,73.217870,70.262983,72.218303
2271,64,23,58,50,15,1995-06-04 00:00:00,10,12,5,NaN,...,1710000,80,25,308,0,12,71.899719,73.217870,70.262983,72.218303
1089,76,25,65,75,10,1993-07-26 00:00:00,15,12,8,NaN,...,11350000,88,24,315,3,15,71.899719,73.217870,70.262983,72.218303
1566,74,25,53,70,25,1992-09-03 00:00:00,45,12,12,NaN,...,1375000,69,35,320,4,12,71.899719,73.217870,70.262983,72.218303
63,74,36,64,97,10,1982-01-22 00:00:00,43,12,9,NaN,...,30500000,91,10,328,14,12,73.947896,73.994096,70.664328,77.185263
1196,80,25,69,77,25,1993-06-16 00:00:00,40,12,8,NaN,...,2560000,88,29,320,2,12,73.947896,73.994096,70.664328,77.185263
2175,74,21,69,46,62,1997-03-31 00:00:00,36,12,43,NaN,...,2504395,93,74,346,0,17,73.947896,73.994096,70.664328,77.185263
2176,78,21,39,53,10,1996-09-19 00:00:00,20,12,8,NaN,...,1710000,82,25,317,0,15,73.947896,73.994096,70.664328,77.185263
527,77,29,64,84,10,1989-03-22 00:00:00,16,12,8,NaN,...,5250000,94,10,305,7,13,73.947896,73.994096,70.664328,77.185263
1330,77,26,64,76,15,1991-09-14 00:00:00,25,12,5,NaN,...,2000000,94,40,323,5,15,73.947896,73.994096,70.664328,77.185263
2100,76,23,59,57,10,1995-01-07 00:00:00,25,12,5,NaN,...,1665000,82,25,325,0,13,73.947896,73.994096,70.664328,77.185263
48,83,30,71,97,10,1987-11-05 00:00:00,55,12,14,72.0,...,34500000,65,10,295,7,35,73.947896,73.994096,70.664328,77.185263
1932,83,24,72,68,10,1993-10-29 00:00:00,35,12,8,72.0,...,3333000,81,20,303,2,20,73.947896,73.994096,70.664328,77.185263
2303,76,24,50,60,10,1994-02-11 00:00:00,32,19,19,72.0,...,1050000,86,10,306,1,19,73.947896,73.994096,70.664328,77.185263
37,83,29,58,89,10,1989-08-19 00:00:00,30,12,5,NaN,...,15790000,78,30,335,6,12,73.947896,73.994096,70.664328,77.185263
1700,70,23,55,54,12,1994-12-16 00:00:00,22,12,18,NaN,...,2547787,85,24,338,0,12,73.947896,73.994096,70.664328,77.185263
2225,78,25,62,45,10,1992-10-29 00:00:00,20,12,5,NaN,...,555000,81,25,321,2,15,73.947896,73.994096,70.664328,77.185263
61,87,28,77,94,60,1990-05-08 00:00:00,56,34,30,NaN,...,28790000,85,65,317,5,20,73.947896,73.994096,70.664328,77.185263
1927,87,27,72,62,45,1991-02-22 00:00:00,67,12,12,NaN,...,630000,85,52,305,4,35,73.947896,73.994096,70.664328,77.185263
283,82,30,74,90,40,1988-04-12 00:00:00,25,12,15,NaN,...,46000000,82,40,325,7,12,70.178177,71.585678,68.318783,70.630069
1705,75,24,70,68,25,1994-01-19 00:00:00,34,12,10,NaN,...,1665000,81,28,316,1,12,70.178177,71.585678,68.318783,70.630069
2301,76,22,64,51,12,1995-11-27 00:00:00,22,12,17,NaN,...,1710000,94,27,307,0,15,70.178177,71.585678,68.318783,70.630069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,88,27,74,82,65,1991-07-30 00:00:00,70,12,30,NaN,...,18900000,87,54,240,5,62,73.724419,73.280574,76.013789,71.878893
1230,83,28,64,75,60,1990-04-26 00:00:00,19,38,34,NaN,...,1353000,76,48,230,4,19,73.724419,73.280574,76.013789,71.878893
1355,84,30,72,72,32,1987-12-11 00:00:00,73,27,17,NaN,...,915000,75,35,265,7,29,73.724419,73.280574,76.013789,71.878893
1357,88,30,76,67,22,1988-03-14 00:00:00,75,12,10,NaN,...,3800000,72,44,240,6,59,73.724419,73.280574,76.013789,71.878893
1472,80,34,63,82,10,1984-08-19 00:00:00,27,12,7,NaN,...,1015000,89,25,320,11,12,73.724419,73.280574,76.013789,71.878893
1476,76,25,65,55,22,1992-12-20 00:00:00,77,12,19,NaN,...,555000,82,55,315,2,31,73.724419,73.280574,76.013789,71.878893
1595,89,28,88,65,65,1990-02-26 00:00:00,46,16,46,NaN,...,2400000,75,50,207,5,69,73.724419,73.280574,76.013789,71.878893
1597,90,23,83,58,76,1994-12-30 00:00:00,11,21,76,NaN,...,1665000,75,71,223,1,20,73.724419,73.280574,76.013789,71.878893
1598,93,24,89,55,69,1994-02-07 00:00:00,57,12,62,NaN,...,555000,78,51,200,1,68,73.724419,73.280574,76.013789,71.878893
1599,92,24,92,63,60,1994-06-30 00:00:00,55,15,65,NaN,...,630000,65,24,190,3,72,73.724419,73.280574,76.013789,71.878893
1600,92,25,84,54,70,1992-10-09 00:00:00,26,21,77,NaN,...,630000,75,50,205,2,19,73.724419,73.280574,76.013789,71.878893
1601,92,21,86,55,60,1996-10-01 00:00:00,60,14,52,NaN,...,2573486,79,27,200,0,69,73.724419,73.280574,76.013789,71.878893
1602,87,23,78,58,37,1995-03-28 00:00:00,68,28,18,NaN,...,2506000,78,33,250,1,42,73.724419,73.280574,76.013789,71.878893
1745,86,24,77,57,58,1994-03-04 00:00:00,58,11,51,NaN,...,1020000,88,72,240,2,40,73.724419,73.280574,76.013789,71.878893
1746,92,22,81,51,71,1995-12-15 00:00:00,51,14,49,NaN,...,2683048,78,33,198,0,73,73.724419,73.280574,76.013789,71.878893
1862,78,29,60,69,15,1989-07-02 00:00:00,20,12,8,NaN,...,790000,89,20,315,6,15,73.724419,73.280574,76.013789,71.878893
1864,90,25,89,57,66,1993-07-13 00:00:00,52,15,65,NaN,...,555000,81,38,190,1,68,73.724419,73.280574,76.013789,71.878893
1865,74,30,61,63,10,1988-04-19 00:00:00,16,12,5,NaN,...,705000,75,24,312,4,16,73.724419,73.280574,76.013789,71.878893
1955,87,23,76,60,82,1995-01-23 00:00:00,20,70,73,NaN,...,1710000,93,52,220,0,17,73.724419,73.280574,76.013789,71.878893
1956,89,24,93,61,64,1993-12-25 00:00:00,32,23,77,NaN,...,1672500,85,57,195,1,26,73.724419,73.280574,76.013789,71.878893
1961,73,21,68,54,12,1996-11-22 00:00:00,35,12,6,NaN,...,3040930,90,20,305,0,14,73.724419,73.280574,76.013789,71.878893
1962,91,25,92,64,78,1992-10-24 00:00:00,28,22,77,NaN,...,1620000,78,33,168,2,24,73.724419,73.280574,76.013789,71.878893
2125,80,27,63,55,15,1991-05-30 00:00:00,20,12,7,NaN,...,1020000,88,28,300,4,11,73.724419,73.280574,76.013789,71.878893
2127,64,25,61,49,18,1992-10-13 00:00:00,73,12,10,NaN,...,1665000,80,29,294,1,20,73.724419,73.280574,76.013789,71.878893
2192,76,21,49,62,10,1996-09-19 00:00:00,19,15,14,NaN,...,2488142,90,10,309,0,11,73.724419,73.280574,76.013789,71.878893
2195,91,26,85,52,50,1991-10-14 00:00:00,62,10,60,NaN,...,630000,78,55,198,2,61,73.724419,73.280574,76.013789,71.878893
2239,89,24,85,50,78,1993-10-19 00:00:00,24,22,75,NaN,...,1050000,64,27,207,1,21,73.724419,73.280574,76.013789,71.878893
2247,83,23,57,48,16,1995-07-21 00:00:00,20,12,8,NaN,...,555000,89,33,300,1,15,73.724419,73.280574,76.013789,71.878893
2286,86,28,83,53,70,1990-08-23 00:00:00,54,62,72,NaN,...,1660000,85,62,221,1,59,73.724419,73.280574,76.013789,71.878893
2367,78,25,72,53,42,1993-01-10 00:00:00,63,12,20,NaN,...,550000,82,41,255,1,33,73.724419,73.280574,76.013789,71.878893

In [173]:
nfc_olines.isnull().sum()

Acceleration              0
Age                       0
Agility                   0
Awareness                 0
BC Vision                 0
Birthdate                 0
Block Shedding            0
Break Sack                0
Break Tackle              0
CAverage Overall        305
CAveragePass Block      305
CAverageRun Block       305
CStarter Overall        305
CStarterPass Block      305
CStarterRun Block       305
Carrying                  0
Catch                     0
Catch in Traffic          0
College                   1
Deep Route Running        0
Elusiveness               0
Finesse Moves             0
Handedness                0
Height                    0
Hit Power                 0
Impact Blocking           0
Injury                    0
Jersey #                  0
Juke Move                 0
Jumping                   0
                       ...
Release                   0
Run Block                 0
Run Block Finesse         0
Run Block Power           0
Short Route Runing        0
Signing Bonus             0
Spec. Catch               0
Speed                     0
Spin Move                 0
Stamina                   0
Stiff Arm                 0
Strength                  0
Tackle                    0
Team                      0
Throw Accuracy Deep       0
Throw Accuracy Mid        0
Throw Accuracy Short      0
Throw Power               0
Throw Under Pressure      0
Throw on the Run          0
Total Salary              0
Toughness                 0
Trucking                  0
Weight                    0
Years Pro                 0
Zone Coverage             0
defense_rating            0
dl_mean                   0
lb_mean                   0
secondary_mean            0
Length: 101, dtype: int64

In [178]:
nfc_olines.columns.values

array(['Acceleration', 'Age', 'Agility', 'Awareness', 'BC Vision',
       'Birthdate', 'Block Shedding', 'Break Sack', 'Break Tackle',
       'CAverage Overall', 'CAveragePass Block', 'CAverageRun Block',
       'CStarter Overall', 'CStarterPass Block', 'CStarterRun Block',
       'Carrying', 'Catch', 'Catch in Traffic', 'College',
       'Deep Route Running', 'Elusiveness', 'Finesse Moves', 'Handedness',
       'Height', 'Hit Power', 'Impact Blocking', 'Injury', 'Jersey #',
       'Juke Move', 'Jumping', 'Kick Accuracy', 'Kick Power',
       'Kick Return', 'LGAverage Overall', 'LGAveragePass Block',
       'LGAverageRun Block', 'LGStarter Overall', 'LGStarterPass Block',
       'LGStarterRun Block', 'LTAverage Overall', 'LTAveragePass Block',
       'LTAverageRun Block', 'LTStarter Overall', 'LTStarterPass Block',
       'LTStarterRun Block', 'Lead Block', 'Man Coverage',
       'Medium Route Running', 'Name', 'Overall', 'Pass Block',
       'Pass Block Finesse', 'Pass Block Power', 'Play Recognition',
       'Playaction', 'Position', 'Power Moves', 'Press', 'Pursuit',
       'RGAverage Overall', 'RGAveragePass Block', 'RGAverageRun Block',
       'RGStarter Overall', 'RGStarterPass Block', 'RGStarterRun Block',
       'RTAverage Overall', 'RTAveragePass Block', 'RTAverageRun Block',
       'RTStarter Overall', 'RTStarterPass Block', 'RTStarterRun Block',
       'Release', 'Run Block', 'Run Block Finesse', 'Run Block Power',
       'Short Route Runing', 'Signing Bonus', 'Spec. Catch', 'Speed',
       'Spin Move', 'Stamina', 'Stiff Arm', 'Strength', 'Tackle', 'Team',
       'Throw Accuracy Deep', 'Throw Accuracy Mid',
       'Throw Accuracy Short', 'Throw Power', 'Throw Under Pressure',
       'Throw on the Run', 'Total Salary', 'Toughness', 'Trucking',
       'Weight', 'Years Pro', 'Zone Coverage', 'defense_rating',
       'dl_mean', 'lb_mean', 'secondary_mean'], dtype=object)

In [ ]:
#RUNNING BACKS

In [201]:
rb = df[df['Position'] == 'HB']
rb.shape

(161, 67)